### how to read dictionary ###
- {key:value,key:value}

In [77]:
# both key and value integer work 
d2={1:2,2:4}
print(d2)

{1: 2, 2: 4}

In [78]:
# key and value can both are str
d2={"hi":"a"}
d2

{'hi': 'a'}

In [19]:
# list as key not possible
d3={[1,2]:"ram"}
d3

TypeError: unhashable type: 'list'

In [21]:
# value as list possible
d4={"ram":[1,2]}
d4

{'ram': [1, 2]}

In [22]:
# tuple as key possible
d5={(1,2):"ritesh"}
d5

{(1, 2): 'ritesh'}

In [23]:
# tuple as value possible
d6={"ritesh":(12,3)}
d6

{'ritesh': (12, 3)}

In [24]:
# dict as key value not possible
d7={{1:"ritesh"}:"hello"}
d7

TypeError: unhashable type: 'dict'

In [25]:
# dict as value possible
d8={1:{1:"ritesh"}}
d8

{1: {1: 'ritesh'}}

### dict ###
- dictionary is key value pair
- it is create using {} braces
- value can be any data type
- but in key list and dictionary are not supported 
- key can't be list and dictionary 
- it can int,str,tupe
- always last value will take if one key have same values as last value will be update old will gone like gf
- dublicated keys and values not allowed if both key and value are same
- key and value can be same data type

In [28]:
# dublicate value are  not allowed in dictionary only one value will be print but in  list allowed
d9={1:"ritesh",2:"aman",3:"ankit",1:"ritesh"}
d9

{1: 'ritesh', 2: 'aman', 3: 'ankit'}

In [71]:
list1=[1,2,3,4,4]
list1

[1, 2, 3, 4, 4]

In [73]:
# here keys are different but values same it will work key are very importand
d9={1:"ritesh",2:"aman",3:"ankit",4:"ritesh"}
d9

{1: 'ritesh', 2: 'aman', 3: 'ankit', 4: 'ritesh'}

In [30]:
# if we change old key value with new one then new value will be exist old will gone
# first 1:"ritesh" then 1:"rahul" so now rahul will be exist
d9={1:"ritesh",10:"aman",3:"ankit",1:"rahul"}
d9

{1: 'rahul', 10: 'aman', 3: 'ankit'}

In [31]:
d9={1:"ritesh",10:"aman",3:"ankit",1:"rahul",1:"ajju"}
d9

{1: 'ajju', 10: 'aman', 3: 'ankit'}

#### always last value will take if one key have same values ####

In [32]:
# for knowledge
a,b=[1,2]
a

1

In [33]:
a,b=[1,2]
b

2

In [34]:
# it will  return tuple
a,b=[1,2]
a,b

(1, 2)

In [35]:
a,b=(3,4)
a

3

In [36]:
a,b=(3,4)
b

4

In [37]:
a,b=(3,4)
a,b

(3, 4)

In [40]:
c,d=3,4,5
c

ValueError: too many values to unpack (expected 2)

In [41]:
# if intialize without tuple value and variable in lhs and rhs must be equal
c,d,e=3,4,5
c

3

In [42]:
d

4

In [43]:
e

5

In [55]:
#tuple
a=(10,20,30)
a

(10, 20, 30)

In [48]:
# not possible for tuple must one varible or equal number of varialbes
a,b=(1,2,3)
a

ValueError: too many values to unpack (expected 2)

In [49]:
a,b,c=(1,2,3)
c

3

$ type $

In [58]:
d1={1:"ritesh",2:"hello"}
print(type(d1))

<class 'dict'>

$ max $
- max will give  max value on the basis of key 
- if key is str so ascii value use to compare
- if key is number than number use
- if both str and int then compare will not work as str and int can't compare same as list
- key is very imporatand in dictionary every thing depend on key

In [61]:
list1=[1,2,3,4]
max(list1)

4

In [62]:
list2=["a","b"]
max(list2)

'b'

In [63]:
# both int and str will not compare
list3=["a","b",10]
max(list3)

TypeError: '>' not supported between instances of 'int' and 'str'

In [64]:
# on the basis of ascii value max value will given
# as ab are equeal but e has highest ascii value then others
d1={"abc":10,"abd":9,"abe":1}
print(max(d1))

abe

In [65]:
# now abd has max value
d1={"abc":10,"abd":9,"aba":1}
print(max(d1))

abd

In [67]:
# if all key have same value then last key will be given as max value
d1={"abc":10,"abc":9,"abc":1}
print(max(d1))
print(d1[max(d1)])

abc
1

In [70]:
d1={"abc":10,"abc":9,"abc":11,"a":12}
print(max(d1))
print(d1[max(d1)]) # print the value which is associated with the max key

abc
11

In [74]:
# key as integer find max value
d2={24:"ritesh",12:"ajju",25:"ankit",1:"ritesh"}
print(max(d2))

25

In [ ]:
$ min $ 
- same as max same rule will follow  
- return min value in case of str ascii value

In [82]:
d1={"abc":10,"abd":9,"abe":12}
print(min(d1))

abc

In [86]:
d1={"abc":10,"abc":9}
print(min(d1))
print(d1[max(d1)])

abc
9

In [89]:
# it prove if two keys are same  then min and  max will be return the last 
# key value in in the disctionary as min and max
d1={"abc":10,"abc":9}
print("max:",d1[max(d1)])
print("min:", d1[min(d1)])

max: 9
min: 9

### note if two keys are same  then min and  max will be return the last 
### key value in in the disctionary as min and max ###

In [94]:
d1={1:"ritesh",1:"ankit"}
print(d1[max(d1)])   # last value will

ankit

$ len $ 
- it will  return the len of dictionary
- the lentth will return on the basis of distnict key
- if dublicates key are then they will not count they will count only 1

In [97]:
d1={"abc":10,"abe":9,1:"ritesh"}
print(len(d1))

3

In [98]:
# here two dublicates key but it will count 1 so the len is 2
d1={"abc":10,"abc":9,1:"ritesh"}
print(len(d1))

2

$ sum $
- it will return the sum of keys 
- if key is numeric only then we can sum
- if key is str we can't sum

In [99]:
d1={1:"ritesh",100:"ajju",12:"kumar"}
print(sum(d1))

113

In [100]:
d2={"ab":10,"ritehs":14}
print(sum(d2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
**** NOTE *****
- d1*d1 not allowed
- d1+d1 not allowed but in list and str allowed
- d1-d1 not allowed
- d1/d1 not allowed
- d1*4 not allowed but in list and str allowed

In [101]:
# d1+d2 not allowed 
d1={1:"ritesh",100:"ajju",12:"kumar"}
d2={10:"ritesh",11:"ajju",13:"kumar"}
print(d1+d2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [102]:
# d1-d2 not allowed 
d1={1:"ritesh",100:"ajju",12:"kumar"}
d2={10:"ritesh",11:"ajju",13:"kumar"}
print(d1-d2)

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [103]:
# d1*d2 not allowed 
d1={1:"ritesh",100:"ajju",12:"kumar"}
d2={10:"ritesh",11:"ajju",13:"kumar"}
print(d1-d2)

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [104]:
# d1/d2 not allowed 
d1={1:"ritesh",100:"ajju",12:"kumar"}
d2={10:"ritesh",11:"ajju",13:"kumar"}
print(d1/d2)

TypeError: unsupported operand type(s) for /: 'dict' and 'dict'

In [105]:
# d1*4 not allowed 
d1={1:"ritesh",100:"ajju",12:"kumar"}
d2={10:"ritesh",11:"ajju",13:"kumar"}
print(d1*4)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [106]:
list1=[12,12]
print(list1*2)

[12, 12, 12, 12]

# in operator
- in for loop under i key come only not value

In [108]:
d1={1:"ritesh",2:"rahul",3:"ankit",4:"ashok"}
for i in d1:
    print(i) #i= 1,2,3,4 key come not value as key is importand in dict

1
2
3
4

In [ ]:
# index 
- in dict index in not number like str and list 0,1,2,3
- in dict index =key 
- to access the value we have to pass the key inside the square bracket

In [109]:
d1={1:"ritesh",2:"rahul",3:"ankit",4:"ashok"}
print(d1[1]) # here d[index]= d[key] result= value corresponding key which pass

ritesh

In [111]:
# if two keys have same value
# last key value will be printed
d1={1:"ritesh",2:"rahul",3:"ankit",1:"ashok"}
print(d1[1])
print(d1) # here 1=ritesh will gone 1: ashok will take as ashok come after the ritesh

ashok
{1: 'ashok', 2: 'rahul', 3: 'ankit'}

### note if same key but having different value in then the last value will take in key ###
- as old value will  gone new value will take

In [112]:
d1={1:"ritesh",2:"rahul",3:"ankit",1:"ashok"}
print(d1[0]) # provding index like list 0,1,2
# in dictionary will not work we have to pass in index

KeyError: 0

In [114]:
# now we can access using for loop both value and key
# using  index
d1={"ram":23,"ritesh":25,"ankit":30}
for i in d1:
    print(d1[i]) # as we have pass key inplace of index so value  will be return

23
25
30

In [115]:
for i in d1:
    print(i) # key printing

ram
ritesh
ankit

In [116]:
# now using index we can print boht key and value
for i in d1:
    print(i,d1[i]) # both key and value

ram 23
ritesh 25
ankit 30

In [117]:
for i in d1:
    print("{} age is {}".format(i,d1[i]))

ram age is 23
ritesh age is 25
ankit age is 30

In [118]:
# as dic is not index based like 0,1,2,3
# so range will not work to acces key value
for i in range(len(d1)):
    print(d1[i])

KeyError: 0

In [2]:
# but it work only when when your key value must be start from 0,1,2,3... so it will not work in all cases it is 
# hard coding we want to generalise
d1={0:"ritehs",1:"ajay",2:"hell"}
for i in range(len(d1)):
    print(i,d1[i])

0 ritehs
1 ajay
2 hell

In [ ]:
# creating a empty dictionary and update it
# as dictinaory  is key value pair so you need to update the empty dictionalry
# using syntax
#d1={}
# updating value
# d[key]=values
# d[1]="ritehs"

In [4]:
# updating str
str1=""
for i in "apple":
    str1=str1+i
print(str1)

apple

In [6]:
# updating list
l1=[i for i in range(10)]# using comprehension
# normay wya
for i in range(11):
    l1.append(i)
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# updating dictionary 
# wap to proram to create your own data base using dictionary 
# create empty dic and update
d1={}
d1["name"]="ritesh"
d1["education"]="btech"
d1["address"]="saraswati"
print(d1)

{'name': 'ritesh', 'education': 'btech', 'address': 'saraswati'}

In [9]:
name=["ritesh","ankit","ashok"]
age=[24,23,25]
# print name and age using zip method in single
for i,j in zip(name,age):
    print("{} has age {}".format(i,j))

ritesh has age 24
ankit has age 23
ashok has age 25

In [8]:
# wap to create a dictionary based on two list
name=["ritesh","ankit","ashok"]
age=[24,23,25]
d1={}
for i,j in zip(name,age):
    d1[i]=j
print(d1)

{'ritesh': 24, 'ankit': 23, 'ashok': 25}

In [11]:
# without zip also we can do
# access both list using index we can do this
name=["ritesh","ankit","ashok"]
age=[24,23,25]
for i in range(len(name)):
    print("index {} , {} has age {}".format(i,name[i],age[i]))

index 0 , ritesh has age 24
index 1 , ankit has age 23
index 2 , ashok has age 25

In [ ]:
# now create dictinary without zip

In [12]:
name=["ritesh","ankit","ashok"]
age=[24,23,25]
d1={}
for i in range(len(name)):
    d1[name[i]]=age[i]
print(d1)

{'ritesh': 24, 'ankit': 23, 'ashok': 25}

## dictinory comprehension ##
# d1={outputt for loop }
# d1={key:value for loop }
# d1={list1[index]:list2[index] for loop} using index
# d1={key:value element for key,value zip(list1,list2) } using zip

In [13]:
# example using index dictionayr comprehension 
name=["ritesh","ankit","ashok"]
age=[24,23,25]
d1={name[i]:age[i] for i in range(len(name))}
print(d1)

{'ritesh': 24, 'ankit': 23, 'ashok': 25}

In [14]:
# using zip method
name=["ritesh","ankit","ashok"]
age=[24,23,25]
d1={key:val for key,val in zip(name,age)}
print(d1)

{'ritesh': 24, 'ankit': 23, 'ashok': 25}

In [ ]:
# create a dictionary using two list 
# with comprehension and without compreshension using both mehod zip and also index

In [16]:
l1=[10,20,30,50]
l2=["Ten","Twenty","Thirty","Fifty"]
d1={}
# base d1[10]="Ten" we have to use this d1[key]=value

In [17]:
# without comprehension 
# using zip
for key,val in zip(l1,l2):
    d1[key]=val
print(d1)

{10: 'Ten', 20: 'Twenty', 30: 'Thirty', 50: 'Fifty'}

In [19]:
# using index
for  i in range(len(l1)):
    d1[l1[i]]=l2[i]
print(d1)

{10: 'Ten', 20: 'Twenty', 30: 'Thirty', 50: 'Fifty'}

In [20]:
# with comprehension 
# using index
d2={l1[i]:l2[i ]for  i in range(len(l1))}
d2

{10: 'Ten', 20: 'Twenty', 30: 'Thirty', 50: 'Fifty'}

In [22]:
# with comprehension 
# using zip
d2={i:j for i,j in zip(l1,l2)}
d2

{10: 'Ten', 20: 'Twenty', 30: 'Thirty', 50: 'Fifty'}

In [ ]:
# wap take 5 random number create a dictionary with even and odd number list

In [31]:
import random

even=[]
odd=[]
d1={}
for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
d1["even"]=even
d1["odd"]=odd
print(d1)

{'even': [40, 62, 72], 'odd': [53, 59]}

In [122]:
# how to know current working directory
import os
os.getcwd()

'C:\\Users\\Admin'

In [ ]:
# method in dictionary

$ keys- values-items $
-keys()
    - it will return key
    - the type of key return is dictionary
    - using list method you can convern into list
 -valuses()
    -it will return values in dictionary type
    - using list method we can convert into list
 Items()
    - it will return key and values both of dict type

In [127]:
#key will provide you the key of that dictionary
d1={"ram":23,"ritesh":25,"ankit":30}
keys=d1.keys()
print(type(keys))
# converting into list
l1=list(keys)
print(l1)

<class 'dict_keys'>
['ram', 'ritesh', 'ankit']

In [131]:
# values
values=d1.values()
print(values)
print(type(values)) # dic type
# converting into list
l2=list(values)
print(l2)

dict_values([23, 25, 30])
<class 'dict_values'>
[23, 25, 30]

In [135]:
# items 
item=d1.items()
item
print(type(item)) # type dictionary
l3=list(item)
print(l3) # list of tuple

<class 'dict_items'>
[('ram', 23), ('ritesh', 25), ('ankit', 30)]

In [ ]:
# we can convert dictioanry to list 
  # using list method

# we can convern  also  list to dictionary 
   # zip method or using range() in for loop 
   # with list comprehension also and without list comprehension also

In [ ]:
# example from list to dictionary

In [4]:
l1=[10,20,30,50]
l2=["Ten","Twenty","Thirty","Fifty"]
d1={}
for i in range(len(l1)):
    d1[l1[i]]=l2[i]
print(d1)

{10: 'Ten', 20: 'Twenty', 30: 'Thirty', 50: 'Fifty'}

In [5]:
# using comprehension 
d1={l1[i]:l2[i] for i in range(len(l1))}
print(d1)

{10: 'Ten', 20: 'Twenty', 30: 'Thirty', 50: 'Fifty'}

In [ ]:
########################################################################################

In [7]:
# question 
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
# {'first_name':['virat','Rohit','KL'],
# 'second_name':['kohli','sharma','rahul'],
# 'company':['blr','mumbai','lucknow']}

In [8]:
# in order  to acess each string we have to convern into list using split method

s1=s1.split(",")
s1
# now s1 is list which contain stirng element now we can apply slicing operation on each stirng and  then append 
# into the list

['virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [32]:
# accessing each element and apply slicing and then apending into list using for loop
first1=[]
last1=[]
company1=[]
for i in s1:
    first=i[:i.index(".")]
    first1.append(first)
    last=i[i.index(".")+1:i.index("@")]
    last1.append(last)
    company=i[i.index("@")+1:i.index(".",i.index("@"))]
    company1.append(company)
    
print("first name list:",first1)
print("second name list:",last1)
print("company list:",company1)

first name list: ['virat', 'Rohit', 'kl']
second name list: ['kohli', 'sharma', 'rahul']
company list: ['blr', 'mumbai', 'lucknow']

In [21]:
# we can directly append into list without storing
first1=[]
last1=[]
company1=[]
for i in s1:
    first1.append(i[:i.index(".")])
    last1.append(i[i.index(".")+1:i.index("@")])
    company1.append(i[i.index("@")+1:i.index(".",i.index("@"))])
print(first1)

['virat', 'Rohit', 'kl']

In [20]:
# now strore into dictionary
d1={}
d1["First_name"]=first1
d1["Last_name"]=last1
d1["Company"]=company1
print(d1)

{'First_name': ['virat', 'Rohit', 'kl'], 'Last_name': ['kohli', 'sharma', 'rahul'], 'Company': ['blr', 'mumbai', 'lucknow']}

In [ ]:
# using list comprehension

In [62]:
s2='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
s2=s2.split(",")
s2

['virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [67]:

first_name=[i[:i.index(".")] for i in s2] # i= string here in list s2 initail i=viart.kohli@blr.com and so on
last_name=[i[i.index(".")+1:i.index("@")] for i in s2]
company_name=[i[i.index("@")+1:i.index(".",i.index("@"))] for i in s2]
d={}
d["First name"]=first_name
d["last"]=last_name
d["company"]=company_name
print(d)

{'First name': ['virat', 'Rohit', 'kl'], 'last': ['kohli', 'sharma', 'rahul'], 'company': ['blr', 'mumbai', 'lucknow']}

$ word frequency $

In [ ]:
# question count the number how many time repeated
str1='can can you canner can you able to can canner'
#op {'can':4,'you':2,'canner':2,'able':1,'to':1}

In [72]:
str1='can can you canner can you able to can canner'
s1="ola ola old ads"
count=0
for i in range(len(s1)):
    if s1[i:i+3]=="ola":
        count+=1
print(count)

2

In [140]:
# becuase in dicionary lates value always update and if saame key again come with the udpated value it will 
# put in dict at the same place where it put in intially with the udpated value
str1='can can you canner can you able to can canner'
l1=str1.split()# make the list
d1={}
for i in range(len(l1)):
    #d1[i]=l1.count(i)
    d1[l1[i]]=l1.count(l1[i])
print(d1)

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [ ]:
# find the most repeated word
# first you need to make the list of values  and keys
# then find the max of values
# and then find the index of max 
# and then find the corresponding index value in values list

In [148]:
# list of keys and values
keys=list(d1.keys())
values=list(d1.values())
print(keys,values)

# find the max value in values using max keyword
maxx=max(values)
# now find the index of maxx values in value list
ind=values.index(maxx)
ind
# now find the corresponding key values  in keys list as values contain count at same index in key values
# correspond word key list mein word aur values list count same index per hai 
# for eg count workd o per  hai key list to uska count values list me o index per hi hoga

print("most repeated workd is ",keys[ind])

['can', 'you', 'canner', 'able', 'to'] [4, 2, 2, 1, 1]
most repeated workd is  can

In [150]:
# we can directly do this without storing 
keys=list(d1.keys())
values=list(d1.values())
re=keys[values.index(max(values))]
print(re)

can

In [153]:
# find min
m=keys[values.index(min(values))]
print("minimum repreated value :",m)

minimum repreated value able

In [154]:
# find the longest word

'you'

In [92]:
s=str1.split()
d1={}
# because we know that in dictionary lates value is updated not allowed dublicates if same key come wiht lates value 
# that value will be updated we use count method to count in list
for i in s:
    # each element will be key and value is account
    d1[i]=s.count(i)
    
print(d1)

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [161]:
# question
# this approch will applicable when both dictionary have different keys values
d1={"a":10,"b":20,"c":30}
d2={"e":100,"f":200,"g":300}
# op {a:110,"b":220,c:330}=d1.keys()
l1_key=list(d1.keys())
l1_value=list(d1.values())
l2_key=list(d2.keys())
l2_value=list(d2.values())

# now calculating the sum of each values of both list
sum_list=[]
for i in range(len(l1_value)):
    summ=l1_value[i]+l2_value[i]
    sum_list.append(summ)
print(sum_list) 


# creating the dictionary from the key list as name and sum form summ list
# as both d1 and d2 dic have same key 
d_sum={l1_key[i]:sum_list[i] for i in range(len(l1_key))}
print(d_sum)

[110, 220, 330]
{'a': 110, 'b': 220, 'c': 330}

### when unequal lenth ###
- do the padding in list of unequal

In [192]:

# this approch will applicable when both dictionary have different keys values
d1={"a":10,"b":20,"c":30,"e":49}
d2={"e":100,"f":200,"g":300}
# op {a:110,"b":220,c:330}=d1.keys()
l1_key=list(d1.keys())
l1_value=list(d1.values())
l2_key=list(d2.keys())
l2_value=list(d2.values())

# extra value will give error to caluclate sum
# so we do papdding here 
max_len=max(len(l1_value),len(l2_value))
max_len

while(len(l1_value)<max_len):
    l1_value.append(0)
while(len(l2_value)<max_len):
    l2_value.append(0)
print(l2_value)    
# now calculating the sum of each values of both list
sum_list=[]
for i in range(len(l1_value)):
    summ=l1_value[i]+l2_value[i]
    sum_list.append(summ)
print(sum_list) 


# creating the dictionary from the key list as name and sum form summ list
# as both d1 and d2 dic have same key 
# iterate through the largest length dictionary as it having all keys 
d_sum={l1_key[i]:sum_list[i] for i in range(len(l1_key))}
print(d_sum)

[100, 200, 300, 0]
[110, 220, 330, 49]
{'a': 110, 'b': 220, 'c': 330, 'e': 49}

In [ ]:
### note when in boht dictionary key values is samae ###

In [164]:
# because both dic have same key so form one dic key we can access both dic

d1={"a":10,"b":20,"c":30}
print(d1["a"])# by passing key valus access
# to access dictionary values 
for i in d1:
    print("keys {} and valus".format(i,d1[i]))
d2={"a":100,"b":200,"c":300}
d3={}
for i in d1:
    d3[i]=d1[i]+d2[i]
print(d3)

10
keys a and valus
keys b and valus
keys c and valus
{'a': 110, 'b': 220, 'c': 330}

In [173]:
# if uneqaul lentth dictionary
# iterate the loop through min lenth dictionay
# and strore the result in longest lengest dictionary 
# as if once the shorest len dic all element finish the longes dic element will take at is not update in that values
d1={"a":10,"b":20,"c":30,"d":50}
d2={"a":100,"b":200,"c":300}

for i in d2:
    d1[i]=d1[i]+d2[i]
print(d1)

{'a': 110, 'b': 220, 'c': 330, 'd': 50}

In [175]:
# in general way 
d1={"a":10,"b":20,"c":30,"d":50}
d2={"a":100,"b":200,"c":300}
for i in range(min(len(d1),len(d2))):
    keys=list(d1.keys()) # list of key
    keys[i] # it will give each element of the keys list i.e a,b of first dic d1  # accessing each element using index
    
    d1[keys[i]]=d1[keys[i]]+d2[keys[i]] # now addding d1[a]=d1[a]+d2[a] d2[b]=d1[b]+d2[b] and so on it will give till c only
print(d1)

{'a': 110, 'b': 220, 'c': 330, 'd': 50}

In [180]:
# direct way without storing
d1={"a":10,"b":20,"c":30,"d":50}
d2={"a":100,"b":200,"c":300}
for i in range(min(len(d1),len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d1.keys())[i]] # if list=[1,2] so aces 1 we give list[0] same is followe
    # remember dic take d[keys] not index
print(d1)

{'a': 110, 'b': 220, 'c': 330, 'd': 50}

In [ ]:
#######################################################################

$ clear - copy$
- clrear will clrear the dictionary
   - directly apply the change in dic
- copy will copy one dictionary into another
- need to store

In [53]:
d1={"a":10,"b":20,"c":30,"d":50}
d2={}
# copy d1 into d2
d2=d1.copy()
print(d2)
# clrear d1
d1.clear()
print(d1)

{'a': 10, 'b': 20, 'c': 30, 'd': 50}
{}

$pop$
- it will delete the specified key and return the value coresspond to the key and also delete value from there 
- we need pass key
- if key not found it will thorugh error  key error

In [66]:
d1={"a":10,"b":20,"c":30,"d":50}
#d1.pop() # one agrguement must pass as  key erro
d1.pop("a") # delete a key and values return values
print(d1)

TypeError: pop expected at least 1 argument, got 0

In [68]:
d1.pop("z") #key error

KeyError: 'z'

$ pop item $
- it will delete always last item in dict
- and return the key value pair as tuple which is deleted
- no argument will pas 
- it  follow the lifo to delete
- directly apply change into dic

In [61]:
d1={"a":10,"b":20,"c":30,"d":50}
d1.popitem()
print(d1)
#d1.popitem("a") # no arguemnt will take eror

{'a': 10, 'b': 20, 'c': 30}

TypeError: dict.popitem() takes no arguments (1 given)

In [69]:
# if dict is empty through eror as dic is empty nothing to delete
d={}
d.popitem()

KeyError: 'popitem(): dictionary is empty'

$ del $
- it is a keyword
- it can delete entire dictionary
- it can also delete one item from the dic by passing index
- by deleteing it does not return anything

In [65]:
d_1={"a":10,"b":20,"c":30,"d":50}
# deleting any one element using index
del d_1["a"] # a is deleted
print(d_1)
# deletting entire dictionary
del d_1
print(d_1) #name error as d_1 is deleted now

{'b': 20, 'c': 30, 'd': 50}

NameError: name 'd_1' is not defined

In [71]:
d_1={"a":10,"b":20,"c":30,"d":50}
d_1.pop("a") # will delete a and return it value which is 10
d_1.popitem() # delete item d:50 return pair (d,50)
del d_1["b"] # will delete b
print(d_1) # {c:30}

{'c': 30}

$ get $ 
- it use to access the value by passing key
- if key not fount it will not through any error
- but using index to access value if key not found through error

In [76]:
d_2={"a":10,"b":20,"c":30,"d":50}
print(d_2.get("a")) # return a value
d_2.get("z") # z is not in key but it will not through any error

10

***using index to access it will through error if key not found this is the main diff b/w index and get access***

In [78]:
print(d_2["a"])
print(d_2["z"]) # key error

10

KeyError: 'z'

$ fromkeys $
 - it will update the dictionary from pass keys and values
 - it  is like the extend method in list which use to take iterable and append each element in list
 - it take iteraable like list,tuple string and dic etc as fist arguement from iteraable it form key
 - sencond arguement is optional if not provide then key value will be set  none
 - thi fucntion will not directly change in dictionary to reflect change we need to store  in a varaible
 - one argument that is itearble must pass second values is optional
 - if value pass the same value will be assinge to all key only one value can pass

In [85]:
d_2={"a":10,"b":20,"c":30,"d":50}
d_1={"e":40,"f":50}
d2=d_1.fromkeys(d_1,10) # duing this no chnage will occure in d1 only occur in d2 as we  are stroing in d2
print(d2)
print(d1)

{'e': 10, 'f': 10}
{'a': 10, 'b': 20, 'c': 30, 'd': 50}

In [87]:
# change will not reflect till you not store  into a varible
d2={}
print()
d_1={"e":40,"f":50}
d_1.fromkeys(d_1,10) 
print(d2)

{}

In [88]:
d2={}
print()
d_1={"e":40,"f":50}
d2=d_1.fromkeys(d_1,10) # key will form from d_1 e,f and value will set for boht key is 10 
print(d2)

{'e': 10, 'f': 10}

In [89]:
# now need d1.fromkeys() 
# it can return also as  {}.formkeys("only here passing deictionay will matter")
d2={}

d_1={"e":40,"f":50}
d2={}.fromkeys(d_1,10) # key will form from d_1 e,f and value will set for boht key is 10 
print(d2)

{'e': 10, 'f': 10}

In [90]:
# itearable as list
d2={}
d2={}.fromkeys([1,2,3,4],"hi") # 1,2,3.. will be key and value of all will "hi" any iterabel can pass
print(d2)

{1: 'hi', 2: 'hi', 3: 'hi', 4: 'hi'}

In [91]:
# iterable as string
d2={}
d2={}.fromkeys("hello","1") # h,e,l.. will be key and value of all will "1" any iterabel can pass
print(d2)

{'h': '1', 'e': '1', 'l': '1', 'o': '1'}

In [94]:
d_3={}.fromkeys([1,5,3],"odd")
print(d_3)

{1: 'odd', 5: 'odd', 3: 'odd'}

In [ ]:
$ setdefault $
- it is used to insert a key with value 
- we can insert only if the same key is not there  
- if key is already there not  insert with  the updated value and no error
- if want to update  the existing key value then use only index method 
- it apply directly change in the dictionary
-  one argument must pass 2nd is  optional for value
- if no value pass as argument then default value will be set as none
- if any value set using setdefault method then  it can't be change again using setdefault 
- only index will change as key is already there and this method apply if key is not present

In [99]:
# as 3 key is not there so it will be enter
d1={1:"ritehs",2:'hell'}
d1.setdefault(3,"hello")
print(d1)

{1: 'ritehs', 2: 'hell', 3: 'hello'}

In [100]:
# as 1 is already therer so no change will occur in dict
d1={1:"ritesh",2:'hell'}
d1.setdefault(1,"ankit")
print(d1)

{1: 'ritesh', 2: 'hell'}

In [101]:
# to change use index
d1[1]="ankit"
d1 # now chnage

{1: 'ankit', 2: 'hell'}

In [102]:
# one argument must pass 2nd is  optional for value
d3={1:"ritesh",2:'hell'}
d1.setdefault() # one argument must pass 2nd is  optional for value
print(d1)

TypeError: setdefault expected at least 1 argument, got 0

In [110]:
d3={1:"ritesh",2:'hell'}
d3.setdefault("10") # one argument must pass 2nd is  optional for value if no value pass defauot will none
print(d3)

{1: 'ritesh', 2: 'hell', '10': None}

In [109]:
# want to change 10 wiht set default not passisble as key is already present index will chnage
d3={1:"ritesh",2:'hell'}
d1.setdefault("10","raaju") 
print(d3)

{1: 'ritesh', 2: 'hell'}

In [111]:
d3[10]="raju" # now change
d[11] # now if no value pass it will though key error in index but in setdefault no error it will set as none

KeyError: 11

In [108]:
d3

{1: 'ritesh', 2: 'hell', 10: 'raju'}

$ update $
- Update method will update a dictionary with elements from another dictionary.
It modifies the dictionary.
- it take as iterable in key value pair
- it used to update the key value if the same key is alreay present then also it will update
- we can pass dictionary or list of tuple

In [112]:
d1={1:"ritesh",2:"raju"}
d2={3:"ankit",4:"askok"}
d1.update(d2)
print(d1)

{1: 'ritesh', 2: 'raju', 3: 'ankit', 4: 'askok'}

In [115]:
# if containt the same key then it will update with the  latest value
d1={1:"ritesh",2:"raju",3:" bholu"} # 3 as bholue but duing updateit will update  as ankit
d2={3:"ankit",4:"askok"}
d1.update(d2)
print(d1)

{1: 'ritesh', 2: 'raju', 3: 'ankit', 4: 'askok'}

In [124]:
d_5={1:"ritesh",2:"raju",3:" bholu"}
d_5.update([(4,5),(5,9)])
d_5

{1: 'ritesh', 2: 'raju', 3: ' bholu', 4: 5, 5: 9}

In [ ]:
# reversed a number using reversed keyword

In [141]:
# as revesed take itearavle and return itearable
num=input("enter number:")
num=reversed(num)
s='' # empty str to store reverse number
for i in num:
    s+=i
s=int(s)  # convert str  into int
print(f"reverede number is {s}")
print(type(s))

enter number: 2335343

reverede number is 3435332
<class 'int'>

In [142]:
# without reversed funciton
# we can use directly slicitn 
num="12345"
num=int(num[::-1])
print(num)

54321

In [ ]:
# join is used to take teh element ffrom iterabela and and then join on the  basis of sepeartor
syntax sep.join("itearable")
note elements of iterable must be str 
result  of joint is always str

In [ ]:
# question input a string and convernt each word capatilize
# as capatilize do the make captital of first word in the string only
# we need to access each element and perform captilize
# each elemetn access using convert into list using split
# we need empty list to store the capital list element 
str1="ritesh kumar maurya"
l1=[]
for word in str1.split():
    l1.append(word.capitalize())
print(l1)
# now convert into str
#s1=str(l1) # if will do this entire list convert as strign but a single string which contain each eleemtn like "Ritesh Kumar Maurys"
# but it will give string of list 
# so we use join here
s=" ".join(l1) # each list element will take and join on the basis of space 
print(s)