In [ ]:
### lambda ###
- it is expression of function 
- a function can be return in term of lambda expression
- syntax var=lambda arguements:output to execute we need to call var(require argument)
- any  number of arguement you can declare and execute them

In [ ]:
### note these two thing remember while convertingt a function into lambda ###
*** how many argument is used in function *** writen in argument in lmabda eg lambda x:op

*** what is returning *** write in op lambda x:x+10

In [1]:
def summ(x):
    return(x+10)
summ(10)

20

In [ ]:
# convernt into lambda
one argumenet x
return x+10

In [4]:
add=lambda x:x+10
# to store this resutl we need to store as it returing 
a=add(19)
print("hello")
print("sum:",a)

hello
sum: 29

In [ ]:
# lambda expression of one variale

In [5]:
def sq(x):
    return x*x
sq(10)

100

In [7]:
sq=lambda x:x*x
sq(10)

100

In [8]:
# lambda expresion of two variable
def sum(x,y):
    return x+y
sum(10,20)

30

In [9]:
s=lambda a,b:a+b
s(10,20)

30

In [10]:
# mulitply
m=lambda a,b:a*b
m(10,20)

200

In [13]:
# lambda function of three variale find avg of three number
def avg(a,b,c):
    return (a+b+c)/3
avg(10,20,30)

20.0

In [14]:
a=lambda a,b,c:(a+b+c)/3
a(1,2,3)

2.0

In [ ]:
# make default of one

In [15]:
# if c not pass it will take default c=10
a=lambda a,b,c=10:(a+b+c)/3
a(1,2) # calling of lambda function

4.333333333333333

In [16]:
# if c not pass it will take default c=10
a=lambda a,b,c=10:round((a+b+c)/3,2)# round off
a(1,2) # calling of lambda function

4.33

In [27]:
#if and else with lambda funcitin 
#same as list compresion 
#[if output if condition else condition else output for loop  ] in list

In [28]:
# wap to find the greatest amont two
def greater(a,b):
    if a>b:
        return a
    else:
        return b
greater(10,20)

20

In [29]:
# using lambda
#var=lambda arguement1,arguement2<if outuput> <if condition > <else condition > <else output> no for loop is required in lambda fucniton 
                   
great=lambda a,b:a if a>b else b
great(10,20)

20

- lambda function is nothing but create a function
- one argument
- multiple arguments
- if else conditions
- if else conditions same like list compehenshion
- like function we need to call lambda funciton

In [ ]:
# store the resul in list in greatere program

In [30]:
# wap to find the greatest amont two
l1=[]
def greater(a,b):
    if a>b:
        l1.append(a)
    else:
        l1.append(b)
greater(10,20) 
print(l1)

[20]

In [36]:
# using lambda 
l2=[]
g=lambda a,b:l2.append(a) if a>b else l2.append(b)
g(10,20)
print(l2)

[20]

In [1]:
# wap l=["hyderabad","banglore","chennai"]
# op [Hyderabad,Banglore,Chenanni]
# 1. using append 
#2.list compreshenion 
l=["hyderabad","banglore","chennai"]
l1=[]
for i in l:
    l1.append(i.capitalize())
print(l1)

['Hyderabad', 'Banglore', 'Chennai']

In [ ]:
# using list comprehension

In [2]:
l2=[i.capitalize() for i in l]
l2

['Hyderabad', 'Banglore', 'Chennai']

## lambda function with iterator ##
lambda <argument>: output,iterator
iteraltor can be=list,tuple,set,dict etc
map fucntion is use to map the output with the iterator iterator element and perform the operation which provided in output
then return also one iterator with the output

In [ ]:
step to use lambda with iterator

- first make the lambda function 

- than add iterator only without for loop

- now map the function and iterator using map()

- now store the result into list or  tuple by converting into list or tuple
### note ###
- map always return a iterator  you can access the value using for loop also without converting into list

- like reversed function return iterator you need for loop to access each value or you can convert them into list

- NOTE using lambda funciton in lambda function in iteraor portion not use for and zip only we  have mention the iterator name

In [2]:
# same question with lambda function 
l=["hyderabad","banglore","chennai"]
lambda i:i.capitalize(),l # make the lambda function i=arg,i.capitalize() output,l=iterator
#  now  map the function and iterator
map(lambda i:i.captitalize(),l) # map function map will take the element from iterator and generate output by mapping
# now store the result  into list
l1=list(map(lambda i:i.capitalize(),l))
print(l1)

['Hyderabad', 'Banglore', 'Chennai']

In [3]:
# question find the square of list of number using all thre method
#  m-1
l1=[1,2,3,4,5]
l2=[]
for i in l1:
    l2.append(i*i)
print(l2)

[1, 4, 9, 16, 25]

In [4]:
# m-2 list comprehension 
l2=[i*i for i in l1]
print(l2)

[1, 4, 9, 16, 25]

In [8]:
# using lambda
l1=[1,2,3,4,5]

lambda i:i*i,l1
l2=list(map(lambda i:i*i,l1))
t=tuple(map(lambda i:i*i,l1)) # converting into tuple 
print(l2)
print(t)

[1, 4, 9, 16, 25]
(1, 4, 9, 16, 25)

In [ ]:
- map always return a iterator  you can access the value using for loop also without converting into list

- like reversed function return iterator you need for loop to access each value or you can convert them into list

In [11]:
a=reversed("ritesh") # a is iterator we can access each value thorugh for loop
for i in a:
    print(i)

h
s
e
t
i
r

In [12]:
# but we can convert return iterator into list also using list keyword
a=list(reversed("ritesh"))
print(a) # now a is list

['h', 's', 'e', 't', 'i', 'r']

In [13]:
# similarly map is also return iterator you can access each value thorugh for loop or you can convernt them intl list
l1=[1,2,3,4,5]
# acess using for  loop not convernt into list
map(lambda i:i*i,l1)
for i in map(lambda i:i*i,l1):
    print(i)

1
4
9
16
25

In [14]:
# or we can do store in var then apply loop
l1=[1,2,3,4,5]
# acess using for  loop not convernt into list
a=map(lambda i:i*i,l1)
for i in a:
    print(i)

1
4
9
16
25

In [16]:
# sum of elements of two list
l1=[1,2,3]
l2=[11,22,33]
l3=[]
for i in range(len(l1)):
    l3.append(l1[i]+l2[i])
print(l3)

[12, 24, 36]

In [17]:
# using list comprehension 
l1=[1,2,3]
l2=[11,22,33]
l3=[l1[i]+l2[i] for i in range(len(l1))]
l3

[12, 24, 36]

In [24]:
# using zip method 
l1=[1,2,3]
l2=[11,22,33]
l3=[]
for i,j in zip(l1,l2):
    l3.append(i+j)
print(l3)    
l4=[i+j for i,j in zip(l1,l2)]
print(l4)

[12, 24, 36]

In [50]:
# NOTE using lambda funciton in lambda function in iteraor portion not use for and zip only we  have mention the iterator name
l1=[1,2,3]
l2=[11,22,33]
#map(lambda i,j:i+j,zip(l1,l2))  wrong only iterator we need to mentioned
l3=list(map(lambda i,j:i+j,l1,l2))
l3
# in tuple
t=tuple(map(lambda i,j:i+j,l1,l2))
print(t)

#in string it will iterable addrss in quote
str(map(lambda i,j:i+j,l1,l2)) # as map return address str convernt then into string 
str(10)# like if any number pass it will convert into str same for  the map

(12, 24, 36)

'10'

In [46]:
# this will not possible only zip will possile as number of iterable pass=number of arguement must in lambda 
# if two argument will pass then zip mehtod will use only
l1=[1,2,3]
l2=[11,22,33]
list(map(lambda i:l1[i]+l2[i],l1,l2))

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [ ]:
# lambda using if else condition 
l1=["ban#lore","hyd#df","chennai"]
#op list that contain #

In [52]:
# gen
l1=["ban#lore","hyd#df","chennai"]
l2=[i for i in l1 if "#" in i ]
l2

['ban#lore', 'hyd#df']

## note how to uses if condtion in lambda ##
- only if condition can be use in list comprehension 
- but in lambda function we can't use if condition only with if else is  must required
- to use if condition in lambda function 
- lambda <argument>:output,iterator
   - in output=mention only condition without if keyword
- map function will map the condition now with the iterator element
       - so the result will be in the from either trur or  false as condtion map with element of list 
- to get element instead of conditin use filter keyword it will return every element on true conditon

In [71]:
l1=["ban#lore","hyd#df","chennai"]
#lambda i:i if "#" in i,l1 # erro expect else 
# correct is only condition write
lambda i:"#" in i,l1
# map will map the conditon with element of list
map(lambda i:"#" in i,l1)
# here condition will map each element of list and then return result either trur or false as  no output is mentioned
# but in if condition we can't mentioned output
list(map(lambda i:"#" in i,l1))

[True, True, False]

In [72]:
# so to store result we need filter
l1=["ban#lore","hyd#df","chennai"]
lambda i:"#" in i,l1
l2=list(filter(lambda i:"#" in i,l1))
print(l2)

['ban#lore', 'hyd#df']

In [78]:
## note ##
-filter and map always use with iterator
a=filter(lambda i:i>2) 
a(10)

TypeError: filter expected 2 arguments, got 1

In [79]:
# it will return only  true or false as we can't mention output in if condtion
a=lambda i:i>10
a(10)

False

## summary  ##
 - simple lambda function
  - a=lambda arguement:output
     call a(arguements)

- lambda with if else
  - lambda arguement:if ouptut if condition else condition else outptut
  - 
-lambda with iteraable
list(map(lambda arguement:output,iterable)) list use to convernt into list you can acess through loop also
without converntin into list for i in map(lambda i:i*i,l)

example
l=[1,2,3]
 list(map(lambda i:i*i,l1))
# any number of iterable you can pass using zip but you not need to mention zip
l1=[1,2,3]
l2=[3,4,5]
l3=[4,6,8]
list(map(lambda i,j:i+j,l1,l2))

- lambda with only if
   in if we need to mentioon only condtion
  #if  without iterable
  a=lambda i:i>3
  a(2)

  - if with iterable
  - lambda i:<condtion>,iterable
  - lambda i:"#" in i,l1
  - to access the value use filter
  - list(filter(lambda i:"#" in i,l1))