### list ###
- list is  collection of array of elements
- it containts heterogenious elements it can contain different type of data type list tuple str int float dicton
- it can also contain a list inside
- it allow dublicates values

In [11]:
list1=[1,2,3,4]
list2=["A","B","C","D"]
list3=[1,2,3,4,"a","b","c","d"]
list4=[1,2,3,4,[10,11]]
list5=[1,2,4,4.5]
list6=[1,2,3,5,5,1] # in list dublicates elements are allowed
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)

[1, 2, 3, 4]
['A', 'B', 'C', 'D']
[1, 2, 3, 4, 'a', 'b', 'c', 'd']
[1, 2, 3, 4, [10, 11]]
[1, 2, 4, 4.5]
[1, 2, 3, 5, 5, 1]

$type$
- it return the type of list i.e list

In [7]:
print(type(list1))

<class 'list'>

- max it return the max elements of the list based on ascii
- min it will return min
- it will work on only one type of data if list contain only one type data then only give max and min value
- if inside the list another two list contain and we want to compare then inside both list same data type
- only then compare and provide the answer as by comparing the content of both list which is bigger
- but must be same data type
- for reference check list7 to list9

In [27]:
print(max(list2))
print(max(list5)) # it can work b/w int and float 
#print(max(list3)) # between str and int not applicable only one type of data 
#print(max(list4)) # not will compare between list and int
list7=[[1,2,3],[1,2,2]] # it will compare on the basis of value of both list and then give max
print(max(list7))
print(min(list7))
list8=[["a"],["A"]] # will compare on the basis of ascii value of character
print(max(list8))
print(min(list8))
list9=[["a"],[198]]
print(max(list9)) # can't compare str with int

D
4.5
[1, 2, 3]
[1, 2, 2]
['a']
['A']

TypeError: '>' not supported between instances of 'int' and 'str'

$ len $
- it will provide the number of character  in list

In [29]:
print(len(list9))

2

#### Acess list element ####

In [30]:
# using in operator
list3=[1,2,3,4,"a","b","c","d"]
for i in list3:
    print(i)

1
2
3
4
a
b
c
d

In [34]:
# using range
for i in  range(len(list3)):
    print("index=",i,list3[i] )

index= 0 1
index= 1 2
index= 2 3
index= 3 4
index= 4 a
index= 5 b
index= 6 c
index= 7 d

In [40]:
# from postive index print negative index also
for  i in range(len(list3)):
    print("Postive index {} and negative index {} for {}".format(i,i-len(list3),list3[i]))

Postive index 0 and negative index -8 for 1
Postive index 1 and negative index -7 for 2
Postive index 2 and negative index -6 for 3
Postive index 3 and negative index -5 for 4
Postive index 4 and negative index -4 for a
Postive index 5 and negative index -3 for b
Postive index 6 and negative index -2 for c
Postive index 7 and negative index -1 for d

In [41]:
# from negative index print postive index
for i in range(-len(list3),0):
    print("negative index {} and postive index {} for {}".format(i,i+len(list3),list3[i]))

negative index -8 and postive index 0 for 1
negative index -7 and postive index 1 for 2
negative index -6 and postive index 2 for 3
negative index -5 and postive index 3 for 4
negative index -4 and postive index 4 for a
negative index -3 and postive index 5 for b
negative index -2 and postive index 6 for c
negative index -1 and postive index 7 for d

$sum$
- it will provide the sum of numeric data only

In [65]:
list1=[1,2,3,4,5,6,7]
print(sum(list1))
list3=[1,2,3,4,"a","b","c","d"]
#print(sum(list3)) # sum can be perfome only numbers # work
list4=[1,2,4,10+1j]
print("with complex:",sum(list4))
list5=[[1,2,3],[1,1,1]]
#print(sum(list5)) # can't perform the sum between two list in the same list
print(sum(list4))
list4=[1,2,4,10]
print("without complex:",sum(list4))
list6=[1,2,3,10.8]
print(sum(list6))

28
with complex: (17+1j)
(17+1j)
without complex: 17
16.8

$ concatenation $
- list1 + list2 is possible intial list1 elements come and then second list

In [68]:
list10=[1,2,3,4]
list11=[5,6,7,8,9]
nw_list=list10+list11
print(list11+list10)
print(nw_list)

[5, 6, 7, 8, 9, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

- in list * by number is possible that many times elements in list will repeat
- list1*3 possible
- listt * list not possible
- list-list not possible
- list/list not possible

In [75]:
list1=[1,2,3,4]
print(list1*3) # three times list element will repeat inside list
list2=[4,5,6,7]
print(list1*list2)# np

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [76]:
print(list1-list2)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [77]:
print(list1/list2)

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [79]:
#WAP find the elements which are having len<3
list1=['Apple','Ball','Cat','Ab','Cd','Ef']
for i in  list1:
    if len(i)<3:
        print(i)

Ab
Cd
Ef

In [82]:
#WAP find the elements which are having #
count=0
list1=['App#e','B#ll','C#t','Ab','Cd','Ef']
for i in list1:
    if "#" in i:
        print(i)
        count+=1
print(count)

App#e
B#ll
C#t
3

In [84]:
list1=[1,2,3,['Apple','Ball']]
# retrive the ball using index
# In the given list how many elements are there: 4
# in this list 4 elements at 0 and 1,2
# at 3 again one list that contain again 2 elementes 
# we want element of index 1 of secondl list
# so it can be
# first fetch the index 3 element of list 1
# it will give another list then again fetch the  index 1 element
# list[3][1]
print(list1[3][1])

Ball

### note in this type of question first always find the how many elements contain in that list and for which index you ###
### interest  right that after the list  name only one time list will be written and then only interested  index###

In [87]:
list1=[[[[[[['Cherry']]]]]]]
# list2 contain only 1 element at o so list1[0] whcih give another list
# it will give [[[[[['Cherry']]]]]]
#same ways another list also contacin only one element as list so list1[0][0]
#[[[[['Cherry']]]]]
# smae way list1[0][0][0]
#[[[['Cherry']]]]
# list1[0][0][0][0] [[['Cherry']]]
# list1[][][][][][] give [['Cherry']]
# list1[0][0][0][0][0][0][0] give ['Cherry']
# last lsit list1[0][0][0][0][0][0][0]"cherry"
print(list1[0][0][0][0][0][0][0])

Cherry

In [88]:
list3=[[[['A','B',[[[1,2,3,['car']]]]]]]]
list3[0][0][0][2][0][0][3][0] # use same method just how many elements in list and take that index

'car'

### list is mutable as we can change the list through index ###

In [90]:
list1=[1,2,3,4]
print("befor change:",list1)
list1[2]="hari"
print(list1)

befor change: [1, 2, 3, 4]
[1, 2, 'hari', 4]

$ slicing $ 
- it is same as string

In [91]:
list1=[20,30,40,50,"p","y","t","h","o","n","a","b","c","d"]
print(list1[2:14:3])
print(list1[2:14:-3])
print(list1[2:-14:3])
print(list1[2:-14:-3])
print(list1[-2:14:3])
print(list1[-2:-14:3])
print(list1[-2:-14:-3])
print(list1[-1:5:-1])
print(list1[-2:14:-3])
print(list1[-2:8:-1])# np in loop but in slicing it is possible as number in backwared direction and also direction in back

[40, 'y', 'o', 'b']
[]
[]
[40]
['c']
[]
['c', 'n', 't', 50]
['d', 'c', 'b', 'a', 'n', 'o', 'h', 't']
[]
['c', 'b', 'a', 'n']

#### list methods ####

In [92]:
dir([]) # it will give all the list methods

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$ copy $ - $ clear $

In [113]:
# copy is used to copy a list into another list
list_2=["a","fdsafd"]
list_1=[1,2,3,4]
list_2=list_1.copy()  # once copy old elements of list_2 will remove only copy list element will exist
print("copy list:",list_2)
print("list1",list_1)
print(list_2)

copy list: [1, 2, 3, 4]
list1 [1, 2, 3, 4]
[1, 2, 3, 4]

In [115]:
# clear to clear all the element of the listlist_1.clear()
list_1.clear()# all the element will deelet from the list
print(list_1)

[]

In [117]:
# i want copy list list 4 element in list 4 and then clear list 4
list_4=[10,20]
list_5=list_4.copy()
list_4.clear()
print("list 5:",list_5)
print("list 4:",list_4)

list 5: [10, 20]
list 4: []

In [ ]:
# wap to enter the list of elements from user and create another  list having even numbers
# taking string as input and then convert into list using split
list1=input("enter the number").split(",") # here split method convert the string enter
# convert string in list into  int
""" for i in range(len(list1)):
    list1[i]=int(list1[i])"""
# we can convert this using list comprehenstion 
list1=[int(i) for i in list1]
print(list1)
print(type(list1[0]))

# find even number
list2=[]
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

### append ###
- append is method that take the element and put in the last of list
- it will append as it if a  list[] is append it will directly append not its individual elements

In [71]:
list1=[1,2,3,4]
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [72]:
# upending a list
list1.append([6,7,8])
print(list1)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
# wap to enter the input list and then create a new list with square
# without taking input from user and converting into int using append

In [4]:
list1=[1,2,3,4,5]
list2=[]
for i in list1:
    list2.append(i*i)
print("square list:",list1)

square list: [1, 2, 3, 4, 5]

In [12]:
#2. 
# input list ["hyd","gurgaon",banglore,]
#op [Hyd,Gurgaon] new list first letter capital
# first acess each element of list1 using loop then apply capaital on each and then append
list1=["ritesh","hyd","gurgaon"]
list2=[]
for  i in list1:
    list2.append(i.capitalize())
print(list2) 


""" str1="ritesh"
print(str1.capitalize()) #apply capital method but not store in str1 that is why str1 is same
print(str1) # "ritesh"
str1=str1.capitalize()
print(str1)# now we store so change will reflect
"""

['Ritesh', 'Hyd', 'Gurgaon']

' str1="ritesh"\nprint(str1.capitalize()) #apply capital method but not store in str1 that is why str1 is same\nprint(str1) # "ritesh"\nstr1=str1.capitalize()\nprint(str1)# now we store so change will reflect\n'

In [14]:
#3.
list3=['h#d','beng#luru','delhi']
# output=['h#d','beng#luru']
output=[] 
for i in list3:
    if "#" in i:# after accesing all elements of list check using in operator if "# " in that element if yes the append
        output.append(i)
print(output)

['h#d', 'beng#luru']

### list comprehension ###
- in which code  will write in single line inside the list
- format list=[<output>  <for loop>]

In [10]:
#1 square question using comprehension
list1=[1,2,3,4,5]
list2=[i*i for i in list1] 
print(list2)
print(list1)

[1, 4, 9, 16, 25]
[1, 2, 3, 4, 5]

In [11]:
#square question using comprehension in comprehension list same list name work to store the result as we assign here here
list1=[1,2,3,4,5]
list1=[i*i for i in list1] 
print(list1)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
# but in loop using append it will not work it will go infinite
# this will not work NOTE  as we are not assign here append we are directly appending value to the list at the end
list1=[1,2,3,4]
list2=[]
for i in list1:
    list1.append(i*i)
print(list1)

In [31]:
# 2
#2. 
# input list ["hyd","gurgaon",banglore,]
#op [Hyd,Gurgaon] new list first letter capital
# first acess each element of list1 using loop then apply capaital on each and then append
list1=["ritesh","hyd","gurgaon"]
list2=[i.capitalize() for i in list1]
print(list2)

['Ritesh', 'Hyd', 'Gurgaon']

In [ ]:
# create the list of 20 numbers from 1 to 20

In [32]:
# normay way
list1=[]
for i in range(1,21):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [33]:
# using list comprehension 
list1=[i for i in range(1,21)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### list comprehension using if condition  ###
- format list=[<o/p> <for loop> <if condition >]
- list=[outpue  for loop if condition  ]

In [34]:
#3.using list comprehension
list3=['h#d','beng#luru','delhi']

# output=['h#d','beng#luru']
output=[i for i in list3 if "#" in i]
print(output)

['h#d', 'beng#luru']

In [ ]:
#4  using list comprehension 
list4=['abcd','abc','ac','a']
# elemnts less than 3

In [76]:
# wap to print the elaments having len more  than 5
list1=["ritesh","kumar","ajay"]
list2=[i for i in list1 if len(i)>5]
print(list2)

['ritesh']

In [36]:
# normal way
# new list=elemnts less than 3


list4=['abcd','abc','ac','a']
output=[]
for i in list4:
    if len(i)<3:
        output.append(i)
print(output)

['ac', 'a']

In [ ]:
# using list comprehension

In [38]:
list4=['abcd','abc','ac','a']
output=[i for i in list4 if len(i)<3]
print(output)

['ac', 'a']


#### list comprehension if and else ###
 - [<if output> <if condition > <else> <lse output> <for loop>]

In [ ]:
# given a list and find the odd and even

In [40]:
# first finding normal way odd and even
list1=[1,2,3,4,5,6,7,8]
for i in list1:
    if i%2==0:
        print("even: {}".format(i))
    else:
        print("odd {}:".format(i))

odd 1:
even: 2
odd 3:
even: 4
odd 5:
even: 6
odd 7:
even: 8

In [41]:
# now store the even and odd in new list using append
list1=[1,2,3,4,5,6,7,8]
even=[]
odd=[]
for i in list1:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print("even:",even)
print("odd:",odd)

even: [2, 4, 6, 8]
odd: [1, 3, 5, 7]

In [58]:
# we can also append string also but must be only one arguemnet
# print method will never append
list1=[1,2,3,4,5,6,7,8]
output=[]
for i in list1:
    if i%2==0:
        output.append(print("hello")) # never append
        output.append("even {}".format(i))
    else:
        output.append("odd :{}".format(i))
print(output)

hello
hello
hello
hello
['odd :1', None, 'even 2', 'odd :3', None, 'even 4', 'odd :5', None, 'even 6', 'odd :7', None, 'even 8']

In [80]:
# want to add and even in same list with label even and odd using normal way
list1=[1,2,3,4,5,6,7,8]
output=[]
for i in list1:
    if i%2==0:
        output.append("even {}".format(i))
    else:
        output.append("odd {}".format(i))
print(output)

['odd 1', 'even 2', 'odd 3', 'even 4', 'odd 5', 'even 6', 'odd 7', 'even 8']

In [78]:
# wap print element wiht grater than len 4 and less than 4
list1=["ritesh","kumar","ajju","cd","kavi","dfs","bb"]
output=["greater than 4 len {}".format(i )" if len(i)>4 else "less than 4 {}".format(i )for i in list1]
print(output)

['greater', 'greater', 'less than 4 ajju', 'less than 4 cd', 'less than 4 kavi', 'less than 4 dfs', 'less than 4 bb']

In [79]:
# if i will not print only greater will print in list
list1=["ritesh","kumar","ajju","cd","kavi","dfs","bb"]
output=["greater"  if len(i)>4 else "less than 4 {}".format(i )for i in list1]
print(output)

['greater', 'greater', 'less than 4 ajju', 'less than 4 cd', 'less than 4 kavi', 'less than 4 dfs', 'less than 4 bb']

In [63]:
# now using if else comprehension 
# format [if output if condition else condition else output for loop ]

### note print method will not use  in list comprehension ###
list1=[1,2,3,4,5,6,7,8]

output=[print("even",i) if i%2==0 else print("odd",i ) for i in list1] 
# it will not print in the form of list it will print line by line

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8

In [55]:
# use stirng format
list1=[1,2,3,4,5,6,7,8]
output=["even:{} ".format(i) if i%2==0 else "odd: {}".format(i) for i in list1]
print(output)

['odd: 1', 'even:2 ', 'odd: 3', 'even:4 ', 'odd: 5', 'even:6 ', 'odd: 7', 'even:8 ']

In [ ]:
---------------------------------------------------------------------------------------

$ count $
- it will return number of occurance of that element in list
- important poin in list count starting and last index is not allowed only one arguement which want to count that only allow

In [84]:
list1=[1,2,3,4,5,5,7]
list1.count(2)

1

In [ ]:
### note ###
list1.count(5,5)# it will take only one arguement not like stirng startin and ending index will  not  provide

In [89]:
"ritesht".count("t",3) # but in string index allowed

1

In [91]:
# normal way to count
list1=[1,2,2,2,23,4,"a","b","b","c"]
count=0
for i in list1:
    if i=="b":
        count+=1
print(count)

2

$ extend $
- it take arguement as iterator
- it will put the each element of the iterator which pass in the end of list
- not eniter iterator will not add each element will add
- this is main difference b/w upend and extend
- in append
   - list1=[1,2]
   - list1.append([3,4])
   - result list1=[1,2,[3,4]]
- in extend only iterator will pass like list string range tupe set
- list1.extend([3,4])
   - result [1,2,3,4]
     - each element store of list not list itself
- using append and extend it will directly update the list with new element no need to store into a new variable like concatenation

In [94]:
# append
list1=[1,2,3,4,"a","b","c","d"]
list2=[20,30,40]
list1.append(list2)
print(list1)

[1, 2, 3, 4, 'a', 'b', 'c', 'd', [20, 30, 40]]

In [95]:
#extend
list1=[1,2,3,4,"a","b","c","d"]
list2=[20,30,40]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 20, 30, 40]

In [96]:
list1.extend(90)# not possible becox int is not iterable

TypeError: 'int' object is not iterable

In [99]:
# in concatenation 
list1=[1,2,3,4]
list2=[5,6]
# another list require to store the new  list otherwise change will not store
print(list1)
list1=list1+list2
print(list1)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

In [101]:
# using append not require list3 to it will directly udpate the list1
list1=[1,2,3,4]
list1.append(5)# at a time only 1 arguement pass in append
list1.append(6)
print(list1)

[1, 2, 3, 4, 5, 6]

In [103]:
# using extend direcly update the list1 no  need to list3 to store 
list1=[1,2,3,4]
list1.extend([5,6])

print(list1)

[1, 2, 3, 4, 5, 6]

# differnece between append extend and concatenation 
- append
  - iterable will pass
  - directly change in list no  need to thired list
  - at the last each element of iterable will store into the last of  list
  - only one arguement will take which iterable

-extend
  -only one arguement will pass
  - directely change on list 
  - if iterable pass so it will store as iterable as one element not all the element of iterable
- concantenation
  - add one  list element into other list element as it is
  - but to  reflect change store the change in list
   list1=list1+list2

In [106]:
# example
list1=[1,2,3,4]
#list1.append("python") # as single element will pass python
list1.extend("python") # each element will pass like p,y,t..
print(list1)

[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n']

- anything which is iterator means you need to traversed through for loop 
- iterator means for loop


$ pop $
- it used remove the last element of the list by default
- by default it will remove last index element
- default index=-1
- if we want to remove any particuler index pass the index value
- remove the given index element and return also that  element
- taking only 1 arguement which is index if not provide default is len(list)-1
- no updation is required directly update the list values
- if empty or index provided in not found then error
- return delete element not index

In [120]:
list1=[1,2,3,4]
list1.pop() # remove the element at index 3 default index pass last which i=3 here

4

In [110]:
# by providing index value to remove
list1=[1,2,3,4,5,"a","hell",45]
list1.pop(2)# index value 2 will remove means 3 will delete
print(list1)

[1, 2, 4, 5, 'a', 'hell', 45]

In [117]:
# error case
list1=[1,2,3,4,5,"a","hell",45]
list1.pop(12)# at 12 index no value error
list2=[] # empty so no default value will find which is pass in pop
list2.pop()

IndexError: pop index out of range

$ Remove $
- it used to remove the specific element in the list wich is first occur
- it take as arguement element which want to delete not index
- it not return which element remove
- no updation is  required directly udpate the list
- only 1 arguement is pass value which want to remove
- if not find that value error

In [118]:
list1=[1,2,3,4,5,5,5,"a","hell",45] # 5 at index 4 will remove as first occurance
list1.remove(5)
list1.remove(100) # error
print(list1)

ValueError: list.remove(x): x not in list

$ del $ 
- it is a keyword not function 
- with del entire list will be  deleted
- with del we can delete a particuler index element also by passing index value

In [124]:

list1=[1,2,3,4,5,"a","hell",45]
print(list1)
del list1 # delete the list here that why error
print(list1)

[1, 2, 3, 4, 5, 'a', 'hell', 45]

NameError: name 'list1' is not defined

In [127]:
# delete any particuler element in the list
list1=[1,2,3,4,5,"a","hell",45]
del list1[6]
# or we can do in general way also to provide index to delete 
#del list1[len(list1)-2] # hell is deleted
print(list1)

[1, 2, 3, 4, 5, 'a', 45]

In [128]:
list1=[100,200,100,300]
del list1[2]
print(list1)

[100, 200, 300]

In [131]:
list1=[100,200,100,300]
del list1[0]
print(list1)

[200, 100, 300]

In [2]:
# without zip it we can also print two  list element same time using index
# without zip also we can do
# access both list using index we can do this
# for in caes of unequl using o padding
name=["ritesh","ankit","ashok"]
age=[24,23,45]
for i in range(len(name)):
    print("index {} , {} has age {}".format(i,name[i],age[i]))

index 0 , ritesh has age 24
index 1 , ankit has age 23

IndexError: list index out of range

In [ ]:
# error as lenth not equalt list index out of range
name=["ritesh","ankit","ashok"]
age=[24,23] 
for i in range(len(name)):
    print("index {} , {} has age {}".format(i,name[i],age[i]))

In [ ]:
#### note in list method like append ,extend, pop,remove,del directly update the  list no need to store in 
new variable 
like string 
in sting str1="hello"
str1.upper() # not store you need to store in varialbe
str1=str1.upper() then change will reflect

In [133]:
str1="ejll"
str1.upper() # no changes in str1
print(str1)

ejll

In [134]:
str1="ejll"
str1=str1.upper() # now str1 will udpate as we assign
print(str1)

EJLL

$ zip $
- this method use when there is two list 
- and require the access the element of both list one by one
- first list1 and then list2 and so on
-syntax for i,j in zip(list1,list2)

In [135]:
# wap to print the name and coressponding age
list1=['Ram','Robert','Raheem']
list2=[25,30,35]
for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [136]:
# 2 wap to print the sum of two list
list1=[100,200,300]
list2=[10,20,30]
for i,j in  zip(list1,list2):
    print("{} + {} ={}".format(i,j,(i+j)))

100 + 10 =110
200 + 20 =220
300 + 30 =330

In [70]:
# using list comprehension


list1=[100,200,300]
list2=[25,30,35]
output1=[i+j for i,j in zip(list1,list2)]
print(output1)

[125, 230, 335]

In [149]:
list1=[100,200,300]
list2=[10,20,30]
list_3=[]
for i,j in  zip(list1,list2):
    
    list_3.append(i+j)
    
print(list_3)

[110, 220, 330]

In [ ]:
# if unequal use padding with 0
# first find the max length of list 
# then pad with 0 with lesser lenth  list

In [7]:
list1=[100,200,300]
list2=[10,20]
list_3=[]
# making both list equalt by inserting 0 in lower  list
max_len=max(len(list1),len(list2))
while(len(list1)<max_len):
    list1.append(0)
while(len(list2)<max_len):
    list2.append(0)
for i,j in zip(list1,list2):
    list_3.append(i+j)
    
    
print(list_3)

[110, 220, 300]

$ index $
- same as stirng index
- it will  return the index of given value of first occurance
- there is start and end index vallue can be be pass
- NOTE it will give  index of first occurance of element in list not all
- three arguement can pass value,start and end start and end optional value must pass otherwise error

list1=[1,2,3,4,5,1,2,"hello",4]
print(list1.index(1)) # only value pass which index pass in that case start 0 and end =len-1

In [15]:
list1=[1,2,3,4,5,1,2,"hello",4]
print(list1.index(1,1))  # give start value and value which index find

5

In [35]:
list1=[1,2,3,4,5,1,1,2,"hello",4,1]
list1.index(1,6,8) # with start and end value and value which index find

TypeError: index expected at least 1 argument, got 0

In [36]:
list1.index(1000) # if not found erro
list1.index()# error one arguement must pass

ValueError: 1000 is not in list

In [21]:
# wap to find the index of all 1 in this list
list2=[1,2,1,4,1,4,5,1,3,4,1,4,1,4,1,434,1,454,34,3,1]
l1=list2.index(1) # it will give 0
l2=list2.index(1,l1+1) #2  # secnod 1 index will find only it will start searching in list beyond first 1 from 1 
# if we start from 0 agin it will give index of 1 will be 0 and so on...
l3=list2.index(1,l2+1)
l4=list2.index(1,l3+1)
l5=list2.index(1,l4+1)
print(l1,l2,l3,l4,l5)

0 2 4 7 10

$ insert $ 
- it used to insert value at particuler index 
-syntax(index,value)
- if element is already there it will inserted at given index and extiing value will be shit right
- to enter the item in end of list if index>=len(list)
- to enter in beginign use index 0
- as the list is index concept so ther  is negative index also used to inset value
-NOTE existing value will shit to righ
- always take 2 arguement index,value otherwisse error

In [23]:
list1=[1,2,3,4]
list1.insert(0,0)
print(list1)

[0, 1, 2, 3, 4]

In [25]:
list1=[1,2,3,4]
list1.insert(2,10)
print(list1)

[1, 2, 10, 3, 4]

In [27]:
list1.insert(10,90) # if index>=len(list) add value at last
print(list1)

[1, 2, 10, 3, 4, 90]

In [28]:
list1.insert(6,777) # len(list)==6
list1

[1, 2, 10, 3, 4, 90, 777]

In [30]:
list1.insert(0,1000)

[1000, 1, 2, 10, 3, 4, 90, 1000, 777]

In [32]:
# negative index
list1.insert(-2,1001)
list1

[1000, 1, 2, 10, 3, 4, 90, 1001, 1000, 777]

In [34]:
list1=[1000, 1, 2, 10, 3, 4, 90, 1001, 1000, 777]
list1.insert(78) # always take 2 arguement

TypeError: insert expected 2 arguments, got 1

###  reverse ###
- it is use for only the list
- it reverse the element of list 
- directly apply   the changes in original list  no need to store in a new list

In [1]:
list1=[1,2,3,"apple",5,"dsf"]
list1.reverse()
print(list1)

['dsf', 5, 'apple', 3, 2, 1]

In [ ]:
#If you want a reversed copy instead of modifying the list, use slicing [::-1] or the reversed() function.
# as slicing and reversed() function directly not apply the changes on original list they need to store the result

In [4]:
list2=[1,2,3,"c","a"]
list3=list2[::-1]
print(list2)# no chnages
print(list3) # list with reverse

[1, 2, 3, 'c', 'a']
['a', 'c', 3, 2, 1]

### The reversed() function returns an iterator that yields elements of a sequence in reverse order.###
-reversed(sequence)
- Works on sequences like lists, tuples, strings, and ranges.

- Does not modify the original object.

- If you need a list or string back, you must explicitly convert.

- syntax reversed(iterable)

In [31]:
list1=[12,3,4,2,4,"ritesh"]
r=reversed(list1)# will return a reverse iterator which to access each value use loop
# we can also convert into list using list method

print(list(r))

['ritesh', 4, 2, 4, 3, 12]

In [32]:
# printing reverse iteratore each element
for i in r:
    print(i)

### Note either you can convernt into list or iterate through loop but if you do any one method then other will not work ###
- if list(r ) used then loop will not work
- if loop use list will not work

In [34]:
# but we can make list using loop by upending into new list

list2=[5432,"r","a","fsh","ritesh"]
list3=[]
rev=reversed(list2)
for i in rev:
    list3.append(i)
print("list in reverse order",list3)

['ritesh', 'fsh', 'a', 'r', 5432]

In [38]:
# reversed method in string
str1='python hello'
re=reversed(str1)
for i in re:
    print(i)

o
l
l
e
h

n
o
h
t
y
p

In [ ]:
## sort ##
- it is used to sort the list element
- directly apply the changes in the list
- it will sort if only one types of element present in the list either number or string mix will not work
- by default sort in accendiing order
- it take two optional arguement key=none and reverse=false default (sort in accesindin order and on the basis of ascii if stirng)
- key arguement can be pass only for  stringn element in the list
- default value arguement if not pass reverse false 
- revere false mean asscending order 
- True means descessning order
- key=none default means sort the string on the basis of asscii value
- key=len sort string on the basis of len
- key can't pass if list contain numerical value
- it use only for the list

In [52]:
list1=[1,28,35,37,98,2]
list1.sort()
print(list1)
list2=["a","c","f","A"]
list2.sort()
print(list2)

[1, 2, 28, 35, 37, 98]
['A', 'a', 'c', 'f']

In [46]:
# if pass reverse = true it will sort in decending order other  wise in asscending order
list3=[10,1,34,4,23,32,1]
list3.sort(reverse=True)
print(list3)

[34, 32, 23, 10, 4, 1, 1]

In [47]:
# by default sory on the basis of asscii value in string case
list4=["apple","AA","bb","cc"]
list4.sort()
print(list4)

['AA', 'apple', 'bb', 'cc']

In [48]:
# if want to sort on the basis of lenth then pass key=len
list4=["apple","AA","bb","cc","a"]
list4.sort(key=len)
print(list4)

['a', 'AA', 'bb', 'cc', 'apple']

In [49]:
# sort on lentht basis and decending
list4=["apple","AA","bb","cc","a"]
list4.sort(key=len,reverse=True)
print(list4)

['apple', 'AA', 'bb', 'cc', 'a']

In [50]:
# key=len arg can't pass in integer type date in list
list5=[32,1,3,11,43]
list5.sort(key=len)
print(list5)

TypeError: object of type 'int' has no len()

# sorted #
- it is built funciton that return the sorted list
- take any iterable like list,string,tuple,set,dic etc.
- does not change the original list
- to store the change you  need to variable to store
- key=none, reverse=false default 
- default sortin in ascending order
- reverse=true soring in asscending order
- key=len if then sort  the string as per len
- sorted(iterable, key=None, reverse=False)

In [55]:
# soriting list in asscenting order
list1=[1,12,4,14,33,2,4,30,100,23]
list2=sorted(list1)
print(list2)
print("original list:",list1)

[1, 2, 4, 4, 12, 14, 23, 30, 33, 100]
original list: [1, 12, 4, 14, 33, 2, 4, 30, 100, 23]

In [60]:
# sorting the string on default on basis of ascii in asceending 
# it always return sorted list 
# sorting the list means sorting each character of string 
str1="pyhton kumar"
list2=sorted(str1)
print(list2)

[' ', 'a', 'h', 'k', 'm', 'n', 'o', 'p', 'r', 't', 'u', 'y']

In [57]:
# if list element are str  and number will not work sorted
list1=[1,2,"apple"]
print(sorted(list1))

TypeError: '<' not supported between instances of 'str' and 'int'

In [58]:
# sort the list in descending order
list1=[23,2,3,2,4,1,45,34,45,2,5,3]
print(sorted(list1,reverse=True))

[45, 45, 34, 23, 5, 4, 3, 3, 2, 2, 2, 1]

In [62]:
# sort the string onn the basis of  lenth 
# as soring in string mean sorting each character so it will sort each char 
# so in sorted in string where key=len not matter
str1="hello i am ritesh kumar af af "
print(sorted(str1,key=len))

['h', 'e', 'l', 'l', 'o', ' ', 'i', ' ', 'a', 'm', ' ', 'r', 'i', 't', 'e', 's', 'h', ' ', 'k', 'u', 'm', 'a', 'r', ' ', 'a', 'f', ' ', 'a', 'f', ' ']

In [63]:
# but if list contain string element then sorted will play role
# sort list element as per  length in ascending order
list1=["app","an","a","aaaa"]
print(sorted(list1,key=len))

['a', 'an', 'app', 'aaaa']

# summary #
- list method directly apply chnages on the list no new variable required to store
- string method not apply directly change on string new variable required to store
- revered and sorted function take arguement as iterator
  - reversed return iterator acess throgh loop each element
  - or use list() to connvert into  list
- sorted function return list
  - take three argument iterable,key,reverse key,reverse are optional 
- in sort and sorted 
 - default key=none reverse=false
     - means sort using ascii if char false mean in asceending
   - if  key=len only work only in string element in the list sorted list on the basis of len
   - reverse =True sort in descending order
   - sorted and reversed function does not make chnage in original list

TypeError: list.reverse() takes no keyword arguments

In [70]:
# wap to find the largest element in the list
list1=[100,200,300]
for i in range(len(list1)):
    if list1[i]>list[i+1] and list1[i]>list1[i+2]:
        print("largest is:".format(list[i]))
    elif list1[i+1]>list[i] and list1[i+1]>list1[i+2]:
        print(list1[i+1])
    else:
        print(list1[i+2])

TypeError: '>' not supported between instances of 'int' and 'types.GenericAlias'

In [ ]:
# take 5 questions in list1
# take corresponding 5 answers in another list2
# iterate through list1
# every quetion should print
# answer=input("tell the answer")
# answer will check in list2
# if it is there : marks=marks+1
# else: No marks
# how many write answers you made, how may answers you got

In [80]:
list1=["Who is the pm","What is capital of india","Who is president of  india"]
list2=["Modi","Delhi","draupadi"]
correct=0
wrong=0

for i in range(len(list1)):
    print(list1[i])
    ans=input("Enter the answer:")
    if ans.lower()==list2[i].lower(): # make anser and list2 element lower so to avoid case sensatinve
        print("Correct Anser")
        correct=+1
    else:
        print("Wrong anser")
        wrong+=1
        print("Correct Answer is:",list2[i])
        
        
 # for each correct anser 2 marks
marks=2*correct  
print("Total questions ask:",i)       
print("Correct anser is:",correct) 
print("Wrong anser :",wrong)
print("Your findal score  is:",marks)

Who is the pm

Enter the answer: modi

Correct Anser
What is capital of india

Enter the answer: jaiput

Wrong anser
Correct Answer is: Delhi
Who is president of  india

Enter the answer: drapadi

Wrong anser
Correct Answer is: draupadi
Total questions ask: 2
Correct anser is: 1
Wrong anser : 2
Your findal score  is: 2

In [95]:
# using string comprehension
list1=["Who is the pm ?","What is capital of india ?","Who is president of  india ?"]
list2=["Modi","Delhi","draupadi"]
marks=0
list3=[marks:=marks+1 for i in range(len(list1)) if input("Enter the Ans").lower()==list2[i].lower()]
print(marks)
print(list3)

Enter the Ans modi
Enter the Ans mod
Enter the Ans d

1
[1]

In [101]:
# using string comprehension inside input comparing both values
# here in input("insted of writing enter anser directly take question as input form list list3 input(list3[i])")
#now insted of aksing enter list3 element will go in input and input will print list3 element and then 
# take the input from user as input method use to take input who is pm as it work as input("who is pm")
# then enter input modi.lower()== then anser will compare with list4 elements
list3=["Who is the pm ?","What is capital of india ?","Who is president of  india ?"]
list4=["Modi","Delhi","draupadi"]
marks=0
[marks:=marks+1 for i in range(len(list3)) if input(list3[i]).lower()==list4[i].lower()] # in comprehension marks=marks=1
# not work so  to work add colon marks:+=1
print(marks)

Who is the pm ? modi
What is capital of india ? delhi
Who is president of  india ? d

2.0

In [ ]:
# find the largest number in list

In [105]:
list1=[100,13,322,200,122,33,4,5,3333,123]
maxx=-999999999999
for i in list1:
    if i>maxx:
        maxx=i
print("largest number is:",maxx)

largest number is: 3333

In [ ]:
# take the list of number from user then find largest

In [106]:
list1=input("enter number").split(",") # split convert string into list elemenet seperated by coma as coma pass
# now convert each element into int
list1=[int(i) for i in list1]
maxx=-9999999
for i in list1:
    if i>maxx:
        maxx=i
print("largest number is:",maxx)

enter number 1,2,3,1,3,3,2234,423,23,343,34,3434,3454,234,3

largest number is: 3454

In [ ]:
# program to find prime number 
# we are using the logic as prime number divide 1 and itself 
# so use two loop first loop take number 
# 2nd loop will run from 1 to that number 
# take modulo if factor==2 prime else not prime

In [113]:
# normay way without  list
# prime number are those which divide 1 and it self
# but here problem is that for loop will give last i value always outside loop i=100
# so it will give about result for 100 
# we have to find a way how take i value outside loop 
factor=0
for i in range(2,101):  # number taking loop
    for j in range(1,i+1): # factor couting loop 
        if i%j==0:
            factor+=1  
            
if factor==2:
    print(f"{temp} is prime")
else:
    print(f" {temp} not prime")

 100 not prime

In [115]:
# to avoid this we need to write print statement inside loop
for i in range(2,101): # number taking loop
    # intilise factor here so that it will reset the factor value 0 in each iteration of first for loop
    factor=0

    
    for j in range(1,i+1): # facotor calculating loop 
        if i%j==0:
            factor+=1 
    # for each iteration of  i we have calculate factors
    # example 10 after the end of  second loop  i=10 10/1,10/2....
    if factor==2:
        print(f"{i} is prime")
    else:
        print(f"{i} is not prime")

2 is prime
3 is prime
4 is not prime
5 is prime
6 is not prime
7 is prime
8 is not prime
9 is not prime
10 is not prime
11 is prime
12 is not prime
13 is prime
14 is not prime
15 is not prime
16 is not prime
17 is prime
18 is not prime
19 is prime
20 is not prime
21 is not prime
22 is not prime
23 is prime
24 is not prime
25 is not prime
26 is not prime
27 is not prime
28 is not prime
29 is prime
30 is not prime
31 is prime
32 is not prime
33 is not prime
34 is not prime
35 is not prime
36 is not prime
37 is prime
38 is not prime
39 is not prime
40 is not prime
41 is prime
42 is not prime
43 is prime
44 is not prime
45 is not prime
46 is not prime
47 is prime
48 is not prime
49 is not prime
50 is not prime
51 is not prime
52 is not prime
53 is prime
54 is not prime
55 is not prime
56 is not prime
57 is not prime
58 is not prime
59 is prime
60 is not prime
61 is prime
62 is not prime
63 is not prime
64 is not prime
65 is not prime
66 is not prime
67 is prime
68 is not prime
69 is not prime
70 is not prime
71 is prime
72 is not prime
73 is prime
74 is not prime
75 is not prime
76 is not prime
77 is not prime
78 is not prime
79 is prime
80 is not prime
81 is not prime
82 is not prime
83 is prime
84 is not prime
85 is not prime
86 is not prime
87 is not prime
88 is not prime
89 is prime
90 is not prime
91 is not prime
92 is not prime
93 is not prime
94 is not prime
95 is not prime
96 is not prime
97 is prime
98 is not prime
99 is not prime
100 is not prime

hello
hello
hello
hello
hello
hello
hello
hello
hello
9

In [ ]:
for i in range(1,101):
    factor=0
    for j in range(1,j+1):
        if i%j==0:
            factor+=1
    if factor==2:
        print("{} is prime".format(i))
    else:
        print("{} is not prime".format(i))

In [121]:
# print in the form of list
prime=[]
non_prime=[]
for i in range(1,101):
    factor=0
    for j in range(1,j+1):
        if i%j==0:
            factor+=1
    if factor==2:
        prime.append(i)
    else:
        non_prime.append(i)
print("Prime {}:".format(prime))
print("=================================================================================================================")
print("Non prime {}".format(non_prime))

Prime [2, 3, 4, 8, 9, 10, 14, 15, 16, 20, 21, 22, 26, 27, 28, 32, 33, 34, 38, 39, 40, 44, 45, 46, 50, 51, 52, 56, 57, 58, 62, 63, 64, 68, 69, 70, 74, 75, 76, 80, 81, 82, 86, 87, 88, 92, 93, 94, 98, 99, 100]:
=================================================================================================================
Non prime [1, 5, 6, 7, 11, 12, 13, 17, 18, 19, 23, 24, 25, 29, 30, 31, 35, 36, 37, 41, 42, 43, 47, 48, 49, 53, 54, 55, 59, 60, 61, 65, 66, 67, 71, 72, 73, 77, 78, 79, 83, 84, 85, 89, 90, 91, 95, 96, 97]

In [127]:
# take the number from user and check whether prime or not
num=eval(input("Enter a number"))
factor=0

for i in range(1,num+1): # factor count loop only required as number provided by user
    if num%i==0:
        factor+=1
if factor==2:
    print("{} is prime".format(num))
else:
    print("{} is not prime".format(num))

Enter a number 43

43 is prime

In [129]:
# take the number from user and check whether prime or not 
# asking number continiusly until user not want to stop using function


def prime(factor,num):
    for i in range(1,num+1): # factor count loop only required as number provided by user
        if num%i==0:
            factor+=1
    if factor==2:
        print("{} is prime".format(num))
    else:
        print("{} is not prime".format(num))
        
        
conti="Y"
while(conti.lower()=="Y".lower()):
    num=eval(input("Enter a number"))
    factor=0
    prime(factor,num)
    conti=input("Do you continue for continue press 'Y' else 'N' ")

Enter a number 2

2 is prime

Do you continue for continue press 'Y' else 'N'  y
Enter a number 45

45 is not prime

Do you continue for continue press 'Y' else 'N'  n

In [148]:
# take the number from user and check whether prime or not 
# asking number continiusly until user not want to stop using function
# want to create list of prime and non prime once program end

prime_list=[]
non_prime=[]

def prime(factor,num):
    for i in range(1,num+1): # factor count loop only required as number provided by user
        if num%i==0:
            factor+=1
    if factor==2:
        print("{} is prime".format(num))
        prime_list.append(i)
    else:
        print("{} is not prime".format(num))
        non_prime.append(i) 
    

        

conti="Y"
while(conti.lower()=="Y".lower()):
    num=eval(input("Enter a number"))
    factor=0
    prim=prime(factor,num)
    conti=input("Do you continue for continue press 'Y' else 'N' ")
print("prime",prime_list)
print("Non prime",non_prime)

Enter a number 1

1 is not prime

Do you continue for continue press 'Y' else 'N'  y
Enter a number 2

2 is prime

Do you continue for continue press 'Y' else 'N'  y
Enter a number 5

5 is prime

Do you continue for continue press 'Y' else 'N'  n

prime [2, 5]
Non prime [1]

In [ ]:
# enter list of number and find prime numbers

In [156]:
list1=input("enter numbers:").split(",")
list1=[int(i) for i in list1]
# accesing each element of list
prime_list=[]
non_prime=[]
for num in list1:
    factor=0 # for each list element factor value reset
    for j in range(1,num+1):
        if num%j==0:
            factor+=1

    if factor==2:
        print("{} is prime".format(num))
        prime_list.append(num)
    else:
        print("{} is not prime".format(num))
        non_prime.append(num)
print("Prime:",prime_list)
print("Non prime:",non_prime)

enter numbers: 1,2,3,4,5,6,7,8

1 is not prime
2 is prime
3 is prime
4 is not prime
5 is prime
6 is not prime
7 is prime
8 is not prime
Prime: [2, 3, 5, 7]
Non prime: [1, 4, 6, 8]

In [173]:
# count the number of a's in str1
str1="my name is ritesh kumar"
count=0
for i in str1:
    if i=="a":
        count=count+1
        print("for which true",count)
    print("each iteration",count)    
print("final",count)

each iteration 0
each iteration 0
each iteration 0
each iteration 0
for which true 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
each iteration 1
for which true 2
each iteration 2
each iteration 2
final 2

In [179]:
# wap for the patter if 
# str="ritesh kumar"
#op kumar ritesh
str1=input("Enter name")
s1=str1[str1.index(" ")+1:] #kumar
s2=str1[:str1.index(" ")] # ritesh
str1=s1+" "+s2
print(str1)

Enter name anjaana kumari

kumari anjaana

In [ ]:
# question input a string and convernt each word capatilize
# as capatilize do the make captital of first word in the string only
# we need to access each element and perform captilize
# each elemetn access using convert into list using split
# we need empty list to store the capital list element 
str1="ritesh kumar maurya"
l1=[]
for word in str1.split():
    l1.append(word.capitalize())
print(l1)
# now convert into str
#s1=str(l1) # if will do this entire list convert as strign but a single string which contain each eleemtn like "Ritesh Kumar Maurys"
# but it will give string of list 
# so we use join here
s=" ".join(l1) # each list element will take and join on the basis of space 
print(s)