7

14

10

# Variables

In [3]:
num=100
num

100

In [5]:
NUM=200
num

100

In [6]:
NUM

200

In [7]:
NUMber=300
NUMber

300

In [8]:
_=400
_

400

In [9]:
if=48  # not work the variable name as keyword
if

SyntaxError: invalid syntax (3716087602.py, line 1)

In [11]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [18]:
sum=48
sum

48

Note sume is a math operation however it will work as variable name but please can't use it