In [5]:
# sep to use change output format
print("hello how are you")
print(2,3) # joining multiple string by default seperate by space
print("hell","are")
print("hell", "are", sep="-")

hello how are you
2 3
hell are
hell-are

$ end $

In [7]:
# end use to instead a new line use as per your preference
print("hello" ,end=",")
print("ritesh")

hello,ritesh

In [8]:
print(1, end=" ")
print(2, end=" ")
print(3, end=" ")

1 2 3

In [10]:
x=eval(input("enter a number"))
y=eval(input("enter second number"))
add=x+y
print("the addition", x, "and", y, "is", add )

enter a number 4554
enter second number 45434

the addition 4554 and 45434 is 49988

In [13]:
name="python"
city="hyd"
age=10;
print("i am", name,"and i am" ,age, "and i'm from", city)
print("my name,city and age is",name,age,city)

i am python and i am 10 and i'm from hyd
my name,city and age is python 10 hyd

In [17]:
name="python"
city="hyd"
age=10;
print("i am", name,"and i am" ,age,end=" and ")
print("i am from", city)

i am python and i am 10 and i am from hyd

In [20]:
#format specifer of string {}
name="python"
city="hyd"
age=10;
print("my name is {} and i'm belong from {} and my age is {}".format(name,city,age))

my name is hyd and i'm belong from hyd and my age is 10

In [31]:
a=eval(input("enter a number"))
b=eval(input("enter second nmber"))
c=eval(input("enter third number"))
add=a+b+c
avg=(a+b+c)/3
print("the sum of ",a,b ,"and",c, "is", add, end=" and ")
print("the average of first {} second {} and third number {} is {}".format(a,b,c,avg))

enter a number 1
enter second nmber 2
enter third number 3

the sum of  1 2 and 3 is 6 and the average of first 1 second 2 and third number 3 is 2.0

$ round $

In [37]:
 #round(value1/value2,3) # round off upto 3 digit
value1=20
value2=3
round(value1/value2,3)

6.667

$ divison / $

In [39]:
print(20/3)

6.666666666666667

$ floor divison = quotent // $

In [41]:
print(20//3) #it will return interger floor value
# floor valuse 6.67 is 6
#floor value of 4.45 is  4
# ceil value is 4.56 is 5
print(3//2) # 1.5 floor value 1

6
1

#### multiplication and addition_ and_substraction

In [42]:
print(4*4)
print(1000-400)
print(100+300)

16
600
400

$ modulo $

In [44]:
# it return reminder
print(5%2)

1

$ eval $

In [ ]:
a=int(input()) # int
b=float(input())# float
c=input()# string 
c=eval(input())# depend upon the input which you provide it will convert on the base of input which you provide