## int to another data type

In [2]:
a=100
fl=float(a)
bl=bool(a)
str1=str(a)
c1=complex(a)
print(fl)
print(bl)
print(str1)
print(c1)

100.0
True
100
(100+0j)

***Note other than 0 into to bool conversation the the int convert into true 
and case of empty string also string convern into false else always true

#### so int convert into all data type

In [4]:
b2=bool(0)
b2

False

## float to other data type

In [11]:
a=100.6
in1=int(a)
bl=bool(a)
str1=str(a)
c1=complex(a)
print(fl)
print(bl)
print(str1)
print(type(str1))
print(c1)

100.0
True
100.6
<class 'str'>
(100.6+0j)

### float is also convern into all datatype

## bool to other data type conversion

In [10]:
a=True  # bool will convern in all datatype as True=1 and False=0 so bool will treat as 1 and 0
in1=int(a)
str1=str(a)
c1=complex(a)
fl1=float(a)
print(str1)
print(c1)
print(in1)
print(fl1)

True
(1+0j)
1
1.0

In [12]:
a=False  # bool will convern in all datatype as True=1 and False=0 so bool will treat as 1 and 0
in1=int(a)
str1=str(a)
c1=complex(a)
fl1=float(a)
print(str1)
print(c1)
print(in1)
print(fl1)

False
0j
0
0.0

## *** note bool is also convertable in all data type

##String to convert into other datatype

- str will convert into int if the the string is the integer value
- if under the str is float valuse like '100.4' it can't convern into integer error will come
- if int and float valuse is under the str like '100.4' and '100 ' then only str will convern into floot
- str will convern into bool True for all non empty string it will false for empty string  like st1='' bool(st1)
- str will convert into complex if only numerical value present like '100' or '100.4'

In [14]:
# case 1 when string is non numerical valuse
st1='ritesh' 
in1=int(st1)# error
fl=float(st1)# error
bl=bool(st1) # true
c1=complex(st1) # error
print(fl)
print(bl)
print(int1)
print(c1)

ValueError: invalid literal for int() with base 10: 'ritesh'

In [17]:
st1='ritesh'
st2=''
bl=bool(st1) # True

bl=bool(st2) # bl= False as empty string convert
bl

False

In [18]:
st1='ritesh' 
c1=complex(st1) # error
c1

ValueError: complex() arg is a malformed string

In [21]:
# case 2 when str is numberical valuse but float in this case it can't convert into integer in all other it will convert
st1='100.4' 
#in1=int(st1)# error
fl=float(st1)# 
bl=bool(st1) # true
c1=complex(st1) # 100.4 + oj
print(fl)
print(bl)
#print(int1)
print(c1)

100.4
True
(100.4+0j)

In [19]:
st1='100.4' 
in1=int(st1)# error
int1

ValueError: invalid literal for int() with base 10: '100.4'

In [24]:
# case 3 when str is numberical valuse but integer in this case it  in all other it will datatype
st1='100' 
in1=int(st1)# 100
fl=float(st1)# 100.0
bl=bool(st1) # true
c1=complex(st1) # 100 + oj
print(fl)
print(bl)
print(in1)
print(c1)

100.0
True
100
(100+0j)

In [27]:
st1='0' 
c1=complex(st1) # 100 + oj
bl1=bool(st1)
print(bl1)
print(c1)

True
0j

## complex to another data type conversion

In [ ]:
a=2+6j
in1=int(a) # error
str1=str(a) #'2+6j'
fl1=float(a) # error
bl1=bool(a) # true
print(str1)
print(c1)
print(in1)
print(fl1)

In [28]:
a=2+6j
in1=int(a) # error
print(in1)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [29]:
a=2+6j
fl1=float(a) # error
fl1

TypeError: float() argument must be a string or a real number, not 'complex'

In [32]:
a=2+6j
st1=str(a)
st1

'(2+6j)'

In [35]:
a=0+0j
bl1=bool(a)
bl1

False

In [36]:
a=0+0j
bl1=bool(a)
bl1

False

In [ ]:
## thus complex