### set ###
- a set is collection of  unorder elements
- it is unhashable means mutable
- set write the under the {} breaces
- in set in which order we have enter the elements not guarnatee that they store in same order in which they insert
- they is no indexing concept in set we can't access element in set using index
- emptly set can be creat using only set function set(iterator)
- it does not allow the dublicates vallue
- it can contain different typt of elements but list and set itself can't store
- set is the only iterable which has  no sequence means elements are store in unorder way

In [1]:
# insertiong order not matter 
s={1,2,3,5,0}
print(s) # once the elements store and print during the  printing in which order elements come reamin same

{0, 1, 2, 3, 5}

In [2]:
print(s) # not changes

{0, 1, 2, 3, 5}

In [3]:
# not allowed dublicates value
s1={1,2,2,3,6}
print(s)

{0, 1, 2, 3, 5}

In [5]:
# inside set we can't put not hashable elements like list and  set itselt
s2={1,"ab",4+3j,(1,2)}
print(s2)

{1, (1, 2), (4+3j), 'ab'}

In [6]:
# we can't put a set inside set as a element
s2={1,"ab",4+3j,(1,2),{1,2}}

TypeError: unhashable type: 'set'

In [8]:
# we can't put a list inside set
s2={1,"ab",4+3j,(1,2),[1,2]}

TypeError: unhashable type: 'list'

$ type $
- it will return the type as set

In [10]:
s2={1,"ab",4+3j,(1,2)}
print(type(s2))

<class 'set'>

$ len - min- max-sorted-reversed-sum $
- to know the detail see the tuple chapter

In [11]:
# LEN
s2={1,"ab",4+3j,(1,2)}
print(len(s2))

4

In [12]:
# max
s3={1,2,3,4,10}
print(max(s3))

10

In [13]:
# min
s3={1,2,3,4,10}
print(min(s3))

1

In [16]:
# return on the base of ascii 
s2={"a","AA"}
print("max is {} and min is {} ".format(max(s2),min(s2)))

max is a and min is AA

In [17]:
# on the basis of len key=len
s2={"a","AA","CCC"}
print("max is {} and min is {} ".format(max(s2,key=len),min(s2,key=len)))

max is CCC and min is a

In [18]:
# sum it will return the sum of numberic
s4={1,2,3,4}
print(sum(s4))

10

In [19]:
# sum it will return the sum of numberic it will not add string 
s4={"a","b"}
print(sum(s4))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
# sorted 
s5={1,2,33,45,53,2,0}
print(sorted(s))

[0, 1, 2, 3, 5]

In [21]:
# sorted in descen with reverse="True" arg passing in sorted
s5={1,2,33,45,53,2,0}
print(sorted(s,reverse="True"))

[5, 3, 2, 1, 0]

In [26]:
# will not work on different type of date 
s5={1,2,33,45,53,2,0,"ab"}
print(sorted(s5))

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
# sort on the basis of ascii
s6={"a","bb","ccc"}
print(sorted(s6))

['a', 'bb', 'ccc']

In [29]:
# sort on the basis of len in descending 
s6={"a","bb","ccc"}
print(sorted(s6,key=len,reverse="True"))

['ccc', 'bb', 'a']

In [31]:
# can't add two set
s1={1,2,3}
s2={3,4,5}
print(s1+s2)
print(s1-s2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [44]:
# we can subtrack two set
# it is like A-B operation in set all common element remove from a a make a new set no chnages in original
s1={1,2,3}
s2={3,4}
print(s1-s2)
s1

{1, 2}

{1, 2, 3}

In [33]:
# can't divide two set
s1={1,2,3}
s2={3,4,5}
print(s1/s2)

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [34]:
# can't mul two set
s1={1,2,3}
s2={3,4,5}
print(s1*s2)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [45]:
# can't multiply a set with int
s1={1,2,3}
print(s1*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [35]:
# we can apply equality operator in set
s1={1,2,3}
s2={3,4,5}
s1==s2

False

In [36]:
# we can apply equality operator in set
s1={1,2,3}
s2={3,2,1}
s1==s2
# return ture becos set contain same elements becoz in set order not matter

True

In [38]:
# but in other iterable must be in same sequence only then it return true becoz they are sequence iterable 
l1=[1,2,3]
l2=[1,2,3]
l1==l2

True

In [39]:
l1=[1,2,3]
l2=[3,2,1]
l1==l2

False

$ reversed $
- we can't apply the reversed keyword in in set because it is irreversible because there is no sequence

In [47]:
s1={1,2,3,4,10}
print(s1)

{1, 2, 3, 4, 10}

In [48]:
for i in reversed(s1):
    print(i,end=" ")

TypeError: 'set' object is not reversible

$ access - the- set $
- as it is not index base

- so we need to access the element using in operator

- we can't access any particuler item in set because having not index and it unorder way store

In [53]:
s={1,2,3,2,3,4,5,7,4,"ritesh"}
for i in s:
    print(i,end=" ")

1 2 3 4 5 ritesh 7

$ taking - set-from -user-as -input $
- using split as same as taking list as input 

- we can also use list comprehension 

- in set also set comprehension same as list comprehension

In [55]:
# taking list of number as input 
str1=input("enter number sep  by coma")
l=[eval(i) for i in str1.split(",")] # split convert str into list and then access each element using for loop to convern into int or float
print(l)

enter number sep  by coma 1,2,3,4,5.5

[1, 2, 3, 4, 5.5]

In [56]:
# without list comprehension
str1=input("enter number sep  by coma")
l=str1.split(",")
l1=[]
for i in l:
    l1.append(int(i))
print(l1)

enter number sep  by coma 1,2,3,4

[1, 2, 3, 4]

In [57]:
# taking set as input set comprehension 
str1=input("enter number sep  by coma")

s={eval(i) for i in str1.split(",")}
print(s)

enter number sep  by coma 1,2,3,4,4,5,10.3,3+5j

{1, 2, 3, 4, 5, 10.3, (3+5j)}

In [ ]:
# to create a empty set
s={} # can't do like this in this way empty dic will creat
# to creat emptly set we need set() function

In [58]:
# set take a iterable 
l=[1,2,3,4]
s=set(l)
print(s)

{1, 2, 3, 4}

In [59]:
# if dict pass as key is major in all case that is why on key value set if formed 
set({1:"rties",2:"akau"})

{1, 2}

In [60]:
# list function aslo take iterable
list((12,3,4))

[12, 3, 4]

In [61]:
# tuple fucntion take iterable 
tuple([1,2])

(1, 2)

In [69]:
# str function not take iterable convert any value inside str function into stifn
str([1,2,3])
str(1)
#str(ritesh) # this will not convert into str as ritesh take as variable which is not define
# while another numberic value if pass then it convert into stirn g
str(1234324324)
str(("re","af")) # a tuple is pass convernt into str
# if in str any iterator will  pass that it will convert them into str

"('re', 'af')"

In [74]:
# in dictionary function dict is used value must be pass in key value pair in list of tuple
dict([(1,2),(3,5)])

{1: 2, 3: 5}

$ methods $

In [1]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

$  add $
- it used to add the single element in the set
- we can add only hashable element in the set
- if hashable iterable pass it will add as iterable in set not its elements

In [3]:
s1={1,2,3,2,4,2,4,4,2,10,23}
s1

{1, 2, 3, 4, 10, 23}

In [4]:
s1.add(25) # add the element in the set we do not know it will be add as set is unorder

In [5]:
print(s1)

{1, 2, 3, 4, 23, 25, 10}

In [6]:
s1.add((1,2)) # add a tuple
print(s1)

{1, 2, 3, 4, (1, 2), 23, 25, 10}

In [7]:
# list dict,and set can;t be add as set contain only hashable elemente and list,dic,set are not hashable
s1.add({1:"ritesh"}) 
s1.add([1,2])

TypeError: unhashable type: 'dict'

In [9]:
s1.add([1,2])

TypeError: unhashable type: 'list'

In [13]:
s1={(1, 2), 1, 10, 2, 23, 25, 3, 4}
s1.add("ritesh")
s1

{(1, 2), 1, 10, 2, 23, 25, 3, 4, 'ritesh'}

$ update $
- it also use to add element in the set but it take iterable and add each element of iterable in a set not iterble itself
- it takes only iterable

In [15]:
# we knoe  list is not hashable but  here we are not adding list we are  adding its elements not list itself 
# so the element will be add 
# we do not know the location they will store
s1={(1, 2), 1, 10, 2, 23, 25, 3, 4}
s1.update([1,2,3])

In [16]:
s1

{(1, 2), 1, 10, 2, 23, 25, 3, 4}

In [18]:
#  if iterable as dictionay then its key value will be add as in dictinay key wiill participate in every operation 
s1.update({100:"ritesh",200:"ajay"})
s1

{(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4}

In [21]:
s1.update("ritesh")# ritesh is str iterable it will in set each alphabet as str will store in s1
# as update store element of iterable not iterable 
s1

{(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4, 'e', 'h', 'i', 'r', 's', 't'}

$ clear - copy $
- clrear will delete all teh elements of set and set become empty set not delte the set delete all the elements of set
- in that case the previous all elements will be gone of d1 only the copy element will be there

  - copy will return the copy of the set in which we have applied inn all data type clear copy are same
  - 

- NOTE copy rule same for all data types it
- in list,dic,set copy will **return** list,dic,set respectively

In [117]:
s1={(1,2), 1, 10, 100, 2, 200, 23, 25, 3, 4}
s2={11,22}
s2.copy() # return a copy of set s2
# use s3 to store return set

{11, 22}

In [118]:
s1={(1,2), 1, 10, 100, 2, 200, 23, 25, 3, 4}
s2={11,22}
# use s3 to store return set
s3=s2.copy() # return a copy of set s2
# now clear the s2
s2.clear()
print("s1 ",s1)
print("copy set s3",s3)
print("s2 after clear",s2)

s1  {1, 2, 3, (1, 2), 100, 4, 200, 10, 23, 25}
copy set s3 {11, 22}
s2 after clear set()

### most imp point is that copy will return a copy of of data types ie set,list,dic ###
l1=[1,2]
l3=l1.copy()
print(l3)
l1.clear()
l1

In [125]:
d={1:"RITSH"}
d.copy()

{1: 'RITSH'}

In [ ]:
l1=[1,2]
l3=l1.copy()
print(l3)
l1.clear()
l1

In [44]:
s1={(1,2), 1, 10, 100, 2, 200, 23, 25, 3, 4}
s2={11,22}
s2=s1.copy() # return a set which  and we are using s2 var to store that is why now s2 is agian intialise that is why s2 previous all element gone
# s2 only will have s1 not exiting 11,22 
s2

{(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4}

In [41]:
# cler copy in list
l1=[1,2,3]
l2=[5,6]
l2=l1.copy()

[1, 2, 3]

In [43]:
# clear copy in dic
d={1:"ritesh"}
d2={3:"ajay"}
d=d2.copy()
d

{3: 'ajay'}

In [ ]:
$ remove $
- it used to delete the element from set 
- pass the element as arguement whcih want to delete 
- it through keyerror if element not find raise key keyerror

In [48]:
s1={(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4}
s1.remove(10)
s1

In [51]:
s1={(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4}
s1.remove((1,2)) # deleting tuple as store as element
s1

{1, 2, 3, 4, 10, 23, 25, 100, 200}

In [50]:
# raise a key error for delete 124 as not in set
s1={(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4}
s1.remove(124)

KeyError: 124

$ discard $
- it also used to delete the  element 

- element will pas as arguement 

- only the difference it will not any error if element not find while in 
  remove raise key error

In [53]:
s1={(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4}
s1.discard(1) # deleting 1
s1

{(1, 2), 10, 100, 2, 200, 23, 25, 3, 4}

In [55]:
# no key error will raise as use discard as 124 not in set
s1={(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4}
s1.discard(124)
s1

{(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4}

In [ ]:
$ pop $ 
- it will remove randome element from set and return that element

- if set is empty raise a key error

In [60]:
s1={(1, 2), 1, 10, 100, 2, 200, 23, 25, 3, 4}
a=s1.pop() # delete 1 and return i have store it into a to print just for understand i have store in var no need to store 
print(a)
s1

1

{(1, 2), 10, 100, 2, 200, 23, 25, 3, 4}

In [64]:
s1={(1, 2),10, 100, 2, 200, 23, 25, 3, 4}
s1.pop() # delted 2

2

In [86]:
s1={(1, 2),10, 200, 23, 25, 3, 4}

print("after deletion set is {} and delted value is {}:".format(s1,s1.pop()))

after deletion set is {(1, 2), 4, 23, 200, 25, 10} and delted value is 3:

In [77]:
def summ(a):
    return a+10



print(summ(10))
print("hello")

20
hello

In [87]:
# key error as set is empty
s2=set()
s2.pop()

KeyError: 'pop from an empty set'

$ union $
- it will return a new set which is the union  of two sets will retur the new set exiting set will  remane same
- union mean set that contain both set value but common will reomve

- in union new set will form exiting set will remain same
- pass the the another  set as arguement

In [114]:
# returning a set
s1={1,2,30,2}
s2={3,1,24,43}
s2.union(s1)

{1, 2, 3, 24, 30, 43}

In [96]:
s1={1,2,30,2}
s2={3,1,24,43}
s3=s2.union(s1)
print("union",s3)
print("s1 ",s1)
print("s2 ",s2)

union {1, 2, 3, 24, 43, 30}
s1  {1, 2, 30}
s2  {24, 1, 3, 43}

$ intersection $ 
- it will return new set of commone elements
- if no common found then give empty set
- - pass the the another  set as arguement

In [113]:
# return a new set
s1={1,2,30,2}
s2={3,1,24,43}
s2.intersection(s1)

{1}

In [99]:
s1={1,2,30,2}
s2={3,1,24,43}
s3=s2.intersection(s1)
print("intersection",s3)
print("s1 ",s1)
print("s2 ",s2)

intersection {1}
s1  {1, 2, 30}
s2  {24, 1, 3, 43}

$ issubset - issuperset $

- issubset check if a set is subset of other set if yes return true: beta

    -subset if all the elemetn of set contain in other set

- superset if a set is superset then return trur means: baap

       means if it contain the elements of otherset and also it contain there elements also

 - pass the the another  set as arguement

In [100]:
s1={1,2}
s2={3,1,24,43}
s1.issubset(s2) # cheking if s1 is a subset of s2

False

In [101]:
s1={1,2}
s2={3,1,24,43,2}
s1.issubset(s2) # cheking if s1 is a subset of s2

True

In [105]:
# superset
s1={1,3,45}
s2={3,1,24,43,2}
# cheking s2 is superset of s1
s2.issuperset(s1) # s2 is a superset of s1 no as 45 is not in s2

False

In [106]:
# superset
s1={1,3}
s2={3,1,24,43,2}
# cheking s2 is superset of s1
s2.issuperset(s1) # s2 is a superset of s1 true as 1,3 all in set2

True

**NOTE METHOD ALWAYS CALL OF ANY PACKAGE PACKAGE.METHOD()**
- LIST,TUPLE,STR,SET,DIC ALL OR ANY ONE WILL FOLLOW THE SAME RULE PACKAGE.METHOD

$ differnce $ 
- return a new set a-b
- set a contain a elements only elemets which  is common between a and b  will remove a retur a new set

In [110]:
# like a-b
s1={1,3,90}
s2={3,1,24,43,2}
s1.difference(s2)

{90}

In [115]:
# b-a
s1={1,3,90}
s2={3,1,24,43,2} # as 1,3 is common in s2 from set 1 that it will delet from set commone and print other
s2.difference(s1)

{2, 24, 43}