In [2]:
tup=(1,2,3)
tup

(1, 2, 3)

In [7]:
tup=(1,2,3,"a","b")
print(tup)

(1, 2, 3, 'a', 'b')

In [8]:
tup=(1,1,"a")
print(tup)

(1, 1, 'a')

### tuple ###

it is write inside small brackets 

- dublicates are alloweed in tuple
- contain different types of  elements 
- tuple is index base 
- tuple is immutable
- only addition of two tuple is possible * / - is not possilbe

$ type $
- reutrn the type of

In [10]:
tup=(1,2,3,"a")
print(type(tup))

<class 'tuple'>

$ len - max - min $

In [ ]:
$ len $

- return the lenght of tuple

In [12]:
tup=(1,2,3,4,53,3,3,"a","ab")
print(len(tup))

9

$ max $
- it wil return max value if similar datat type presenet either string or int 
- if both presenet can't provide max value error
- if str presnent default max value on the basis of ascii vallue
- if str presenet and key=len is pass in max then on the basis of len max value will return

- NOTE if same element present then  min and max will be provide of first occurance

In [13]:
# max return max value
tup=(1,2,3,4,53,3,3)
print(max(tup))

53

In [14]:
# max witht str elements
# return max value on the basis of ascii value
tup=("a","b","A")
print(max(tup))

b

In [19]:
# max with string with key=len 
# now it will return max value on the base of len 
tup=("aa","bbb","AAAA",)
print(max(tup,key=len))

AAAA

In [20]:
# without key=len
# max with string with key=len 
# now it will return max value on the base of len 
tup=("aa","bbb","AAAA",)
print(max(tup)) # as b has higher asscii value

bbb

In [18]:
# max with string with key=len 
# now it will return max value on the base of len 
tup=("aa","bbb","AAA",)
print(max(tup,key=len))
# if same len present return first occurance of same

bbb

In [21]:
tup1=("a",10)
print(max(tup1)) # error can't compare differenct type

TypeError: '>' not supported between instances of 'int' and 'str'

$ min $
- it return min value
- rest all rule same for the min

In [22]:
tup=("aa","bbb","AAA",)
print(min(tup))

AAA

In [23]:
print(min(tup,key=len)) # retur nmin value on the basis of len

aa

In [27]:
tup=(1,2,34,1)
print(min(tup))
print(tup.index(min(tup)))


- NOTE if same element present then  min and max will be provide of first occurance

1
0

$ in $
- acess using in operator

In [28]:
tup1=(1,2,3,44,3,2,3,2,3,2)
for i in tup1:
    print(i)

1
2
3
44
3
2
3
2
3
2

$ sum $
- it return the sum of tuple elements
- it take at most 2 arguement one is iterable and another  one is start default start=0
- start 0 means it start sum from zero and then sum iterable like 0 + iterable
- 0+1+2+3+4+5
- sum is a keyword like max,min ,len sum
- sum is same in list tupel 
- sum is not work with string type elements only for numberic

In [65]:
tup1=(1,2,3,4,5)
print(sum(tup1))

15

In [66]:
tup1=(1,2,3,4,5)
print(sum(tup1,10)) # here start =10
# now 10+iterable 10+1+2+...
# 25

25

In [73]:
tup1=("a","b")
print(sum(tup1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [76]:
# in dictionay sum return the sum of key if key are numberic other wise error type error
d={1:"ritesh",2:"helo"}
print(sum(d))

3

In [ ]:
# addition of two tuple is possible it will return add all elements in in single tuple without changing in individaul tuple a  new tuple will form
# same as list

In [6]:
t1=(1,2)
t2=(3,5)
print(t1+t2)
t2

(1, 2, 3, 5)

(3, 5)

In [3]:
l1=[1,2]
l2=[3,4]
print(l1+l2)

[1, 2, 3, 4]

In [7]:
# sub of two tup is not possibe like list
t1=(1,2)
t2=(3,5)
print(t1-t2)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [8]:
l1=[1,2]
l2=[3,4]
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [11]:
# multiplication and division of two tup is not possible like list
t1=(1,2)
t2=(3,5)
print(t1/t2)

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [12]:
t1=(1,2)
t2=(3,5)
print(t1*t2)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [18]:
# * by number with tuple repaed it element that time like list
t1=(1,2)
print(t1*3)

(1, 2, 1, 2, 1, 2)

In [19]:
l=[1,2,3]
print(l*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
# in dictionary we can't do any operation among two dictionary
d1={1:"ritsh",2:"aja"}
d2={3:"a",4:"adf"}
print(d1/d2)

TypeError: unsupported operand type(s) for /: 'dict' and 'dict'

In [24]:
# in dict we can't multiply a dict to int also
d1={1:"ritsh",2:"aja"}
print(d1*2)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

$ index $
- access using index base

In [30]:
tup1=(1,2,3,44,3,2,3,2,3,2)
print(tup1[3])

44

In [34]:
for i in range(len(tup1)):
    print("index is {} and value is {} ".format(i,tup1[i]))

index is 0 and value is 1
index is 1 and value is 2
index is 2 and value is 3
index is 3 and value is 44
index is 4 and value is 3
index is 5 and value is 2
index is 6 and value is 3
index is 7 and value is 2
index is 8 and value is 3
index is 9 and value is 2

$ mutable- or- immutable $

 ***NOTE tuple is immutable as we cannot the tuple through index operation***

In [35]:
tup1=(1,2,3,44,3,2,3,2,3,2)
tup1[2]=10
print(tup1)

TypeError: 'tuple' object does not support item assignment

In [36]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

$ methods- in- tuple $

$ index $
- use to find the index of elements
- same as list and str method tup.index(value,start ,end) start and end are  optional
- return the index of first occurance

In [39]:
tup1=(1,2,3,44,3,2,3,2,3,2)
print("first occurnance",tup1.index(3))
print("seconde occurnacnce ",tup1.index(3,tup1.index(3)+1))

first occurnance 2
seconde occurnacnce  4

$ count $
- use to count the elements in tuple
- it return number of occurance
- take only one arguement
- in list count alos take one arguement
- dic has no count method because it has unique  key and all operation apply on  keys in dict
- ** NOTE but in str count method take three arg value,start and end start and end option you can provide start and end index by defaoult entire search

In [53]:
tup1=(1,2,"a",3,44,3,2,3,2,3,2,"a","aaaa","a")
tup1.count(2)
print("count in tup")
#print(tup1.count("a",3)) # error take only argument
str1="rieshi"
print("count in str ")
str1.count("i",2) # it can take three arguement 

l=[1,2,3,1]
print("count in list")
l.count(1)
d={1:"rotesh",2:"ajay"}
#d.count(1)

count in tup
3
count in str
count in list

TypeError: list.count() takes exactly one argument (2 given)

8

$ reversed $
- it is a keyword
- it return the reverse  iterator
- it return elements in reverse order
- elements can be any  of type inside the list ,tuple,string
- only the aim is reversed the order of elements
- 
** NOTE reversed function return reverse iterator has 0 len becuase it return <reversed object at 0x0000019C047ABD60> so it has zero len** so to access element of reverse iterator use always in operator not range as it has 0 len

**NOTE  keyword can be use anywhere same for all like if else print but method are only for paticular things**

In [81]:
tup1=(10,1,2,4,2,4,2,93,90,"riet")
r=reversed(tup1)
for i in range(len(tup1)):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [104]:
# as it is a itearatore we can directly change it into list
tup1=(10,1,2,4,2,4,2,93,90,"riet")
r=reversed(tup1)
print(r) # 
list(r)

<reversed object at 0x0000019C047ABD60>

['riet', 90, 93, 2, 4, 2, 4, 2, 1, 10]

In [98]:
# in dictionay reversed return a iterator that contain key in reverse order
d={1:"ritesh",2:"ajay"}
r=reversed(d)
for i in r:
    print(i)

2
1

** NOTE reversed function return reverse iterator has 0 len becuase it return <reversed object at 0x0000019C047ABD60> so it has zero len**
***so to access element of reverse iterator use always in operator not range as it has 0 len***

$ sorted $
- it is a keyword
- it return a list contain element in ascending order default
- two arguement can pass if key=len sort  on the base of len to string
- reverse=true then it will sort in descenting order defalut is key=none and reverse=fale asscending
- sort will work only when similar data type element present
- key=len will provide with only str

In [105]:
tup1=(2,1,3,1,46,3,6,3)
print(sorted(tup1))

[1, 1, 2, 3, 3, 3, 6, 46]

In [107]:
# not similar data type so type  error
tup1=(2,1,3,1,46,3,6,3,"ab")
print(sorted(tup1))

TypeError: '<' not supported between instances of 'str' and 'int'

In [113]:
# rturn the sorted on the base of ascii
tup1=("a","AAA","b","C","d")
print(ord("A"))
print(sorted(tup1))

65
['AAA', 'C', 'a', 'b', 'd']

In [114]:
# return the sorted list on the base of len
tup1=("aaaa","AAA","bb","C","d")
print(ord("A"))
print(sorted(tup1,key=len))
# remember if same first always first occurance will take in all cases in python

65
['C', 'd', 'bb', 'AAA', 'aaaa']

In [118]:

tup1=(1,2,4,2,99,3,0)
print("asceending",sorted(tup1))
print("descending",sorted(tup1,reverse=True))
# we can provide  key argument for numberic value use only for str type  values print("asceending",sorted(tup1,key=len))

asceending [0, 1, 2, 2, 3, 4, 99]
descending [99, 4, 3, 2, 2, 1, 0]

## differ b/w sorted and reversed ##
- sorted has at most 3 arguments
- sorted and reverse both take iterator as arguement
- reversed only 1 which reverse itearaotr
- sorted return list
- reversed return reversed iterator has 0 len
- reversed can work any data elements inside the iterator it aim is to reverse the elements of iterator that it
- sorted aim is sort in assending descing on the base of arg on the base of comparison

In [119]:
# in dictioany sorted will apply on key return the sorted keys

d={1:"ritesh",10:"AJAU",2:"KA"}

print(sorted(d))

[1, 2, 10]

**NOTE IN DICTIONAY KEY ARE THE IMPORTANT SO ALL THE OPERATION WILL APPLY ON KEYS**
- keyword like len,min,max,sum,sorted,reversed all give the result on keys